

<div class="images-grid" >
  <div class="img-container" *ngFor="let file of elements; index as i">
    <div  class="img-item">
      <img *ngIf="isImage(file)" width="200px" height="200px" [src]="file" [alt]="file">
      <div *ngIf="file.includes('pdf')" style="width: 200px; height: 200px">
        <span nz-icon nzType="file-pdf" [nzTheme]="'twotone'" nzTheme="outline" style="position: absolute; top: 50%; left: 50%; font-size: 30px"></span>
      </div>
      <div *ngIf="isSpreadSheet(file)" style="width: 200px; height: 200px">
        <span nz-icon nzType="file-excel" [nzTheme]="'twotone'" nzTheme="outline" style="position: absolute; top: 50%; left: 50%; font-size: 30px"></span>
      </div>
      <div *ngIf="isDocument(file)" style="width: 200px; height: 200px">
        <span nz-icon nzType="file-word" [nzTheme]="'twotone'" nzTheme="outline" style="position: absolute; top: 50%; left: 50%; font-size: 30px"></span>
      </div>
      <div *ngIf="isOtherFileType(file)" style="width: 200px; height: 200px">
        <span nz-icon nzType="file" [nzTheme]="'twotone'" nzTheme="outline" style="position: absolute; top: 50%; left: 50%; font-size: 30px"></span>
      </div>
      <div class="img-overlay">
        <button nz-tooltip="true" *ngIf="isImage(file)" (click)="showPreview(file)" nzTooltipTitle="Ver en pantalla completa" nz-button
                nzShape="circle" type="button" nzType="primary">
          <span nz-icon nzType="fullscreen"></span>
        </button>
        <button nz-tooltip="true" *ngIf="isOtherFileType(file) || isDocument(file) || isSpreadSheet(file) || file.includes('pdf')" (click)="showPreview(file)" nzTooltipTitle="Descargar documento" nz-button
                nzShape="circle" type="button" nzType="primary">
          <span nz-icon nzType="download" nzTheme="outline"></span>
        </button>
        <button nz-tooltip="true" *ngIf="canDelete" (click)="onDeleteElement.emit(file)" nzTooltipTitle="Eliminar filen" nz-button
                nzShape="circle" type="button" nzType="primary" nzDanger>
          <span nz-icon nzType="delete"></span>
        </button>
      </div>
    </div>
  </div>
</div>
