<nz-table #fixedTable [nzData]="tableData.data" [nzScroll]="{ x: '1150px', y: '440px' }">
  <thead>
  <tr>
    <th *ngFor="let h of tableData.headers">{{h.displayName}}</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of fixedTable.data">
    <td *ngFor="let td of tableData.headers">{{ row[td.key] }}</td>
    <td>
      <a (click)="onEdit.emit()" nz-button nzType="link" nzBlock>Editar</a>
      <a  (click)="onDelete.emit()" nz-button nzType="link" nzBlock nzDanger>Eliminar</a>
    </td>
  </tr>
  </tbody>
</nz-table>
