<nz-breadcrumb>
  <nz-breadcrumb-item>Inicio</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/usuarios">Usuarios</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>{{isEditing ? 'Editar' : 'Crear'}}</nz-breadcrumb-item>
</nz-breadcrumb>


<!--form-->

<h2>Datos de usuario</h2>



<div class="form mt-3">
  <div class="content">
    <nz-steps [nzCurrent]="index"  (nzIndexChange)="isEditing ? onIndexChange($event) : null">
      <nz-step nzTitle="General" [nzStatus]="getStatusBasedOnIndex(index).first"></nz-step>
      <nz-step nzTitle="Personal" [nzStatus]="getStatusBasedOnIndex(index).second"></nz-step>
      <nz-step nzTitle="Social" [nzStatus]="getStatusBasedOnIndex(index).last"></nz-step>
    </nz-steps>
  </div>
</div>


<ng-container *ngIf="index === 0">
  <form class="form mt-3"  nz-form nzLayout="vertical" [formGroup]="generalForm" >
    <div class="content">

      <div nz-row class="row" [nzGutter]="16">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="firstName">Nombre</nz-form-label>
            <nz-form-control [nzErrorTip]="firsNameErrTemp">
              <input type="text" style="width: 100%" nz-input formControlName="firstName"
                     placeholder="Nombre"/>
              <ng-template #firsNameErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un nombre!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="lastName">Apellido</nz-form-label>
            <nz-form-control [nzErrorTip]="lastNameErrTemp">
              <input type="text" style="width: 100%" nz-input formControlName="lastName"
                     placeholder="Apellido"/>
              <ng-template #lastNameErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un apellido!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>


      </div>
      <div nz-row class="row" [nzGutter]="16">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="username">Usuario</nz-form-label>
            <nz-form-control [nzErrorTip]="usernameErrTemp">
              <input type="text" style="width: 100%" nz-input formControlName="username"
                     placeholder="Nombre de usuario"/>
              <ng-template #usernameErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un nomnbre de usuario!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="password">Contrasena</nz-form-label>
            <nz-form-control [nzErrorTip]="passwordErrTemp">
              <input type="text" style="width: 100%" nz-input formControlName="password"
                     placeholder="Contrasena"/>
              <ng-template #passwordErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar una contrasena!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>


      </div>
      <div nz-row class="row" [nzGutter]="16">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="email">Correo electronico (personal)</nz-form-label>
            <nz-form-control [nzErrorTip]="emailErrTemp">
              <input type="text" style="width: 100%" nz-input formControlName="email"
                     placeholder="Correo personal"/>
              <ng-template #emailErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un email!</ng-container>
                <ng-container *ngIf="control.hasError('pattern')">Ingresa un email valido!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="corporateEmail">Correo electronico (corporativo)</nz-form-label>
            <nz-form-control [nzErrorTip]="corporateEmailErrTemp">
              <input type="text" style="width: 100%" nz-input formControlName="corporateEmail"
                     placeholder="Correo corporativo"/>
              <ng-template #corporateEmailErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un email!</ng-container>
                <ng-container *ngIf="control.hasError('pattern')">Ingresa un email valido!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="joinDate">Fecha de llegada</nz-form-label>
            <nz-form-control [nzErrorTip]="joinDateErrTemp">
              <nz-date-picker style="width: 100%" formControlName="joinDate"></nz-date-picker>
              <ng-template #joinDateErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingesar una fecha !</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="userType">Tipo de usuario</nz-form-label>
            <nz-form-control [nzErrorTip]="emailErrTemp">
              <nz-select formControlName="userType" (ngModelChange)="handleSelectUserType($event)">
                <nz-option nzValue="Administrador" nzLabel="Administrador"></nz-option>
                <nz-option nzValue="Coordinador de servicios" nzLabel="Coordinador de servicios"></nz-option>
                <nz-option nzValue="Administrador de empresa" nzLabel="Administrador de empresa"></nz-option>
                <nz-option nzValue="Asistente operativo" nzLabel="Asistente operativo"></nz-option>
                <nz-option nzValue="Asesor inmobiliario" nzLabel="Asesor inmobiliario"></nz-option>
              </nz-select>
              <ng-template #emailErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un email!</ng-container>
                <ng-container *ngIf="control.hasError('pattern')">Ingresa un email valido!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="userLevel">Rango de asesor </nz-form-label>
            <nz-form-control>
              <nz-select formControlName="userLevel">
                <nz-option nzValue="Asesor Emprendedor" nzLabel="Asesor Emprendedor 50%"></nz-option>
                <nz-option nzValue="Asesor Destacado" nzLabel="Asesor Destacado 60%"></nz-option>
                <nz-option nzValue="Asesor Estrella" nzLabel="Asesor Estrella 70%"></nz-option>
                <nz-option nzValue="Asesor Diamante" nzLabel="Asesor Diamante 80%"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>


      </div>
      <div nz-row class="row" [nzGutter]="16">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="mainPhone">Telefono principal</nz-form-label>
            <nz-form-control [nzErrorTip]="mainPhoneErrTemp">
              <input type="text" appOnlyNumbers style="width: 100%" nz-input formControlName="mainPhone"
                     placeholder="Numero de telefono"/>
              <ng-template #mainPhoneErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un numero de telefono!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="secondaryPhone">Telefono secundario</nz-form-label>
            <nz-form-control >
              <input type="text" appOnlyNumbers style="width: 100%" nz-input formControlName="secondaryPhone"
                     placeholder="Numero de telefono secundario"/>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="isActive">Usuario activo</nz-form-label>
            <nz-form-control >
              <nz-switch formControlName="isActive"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="index === 1">
  <form class="form mt-3"  nz-form nzLayout="vertical" [formGroup]="personalForm" >
    <div class="content">
      <div nz-row class="row" [nzGutter]="16">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label  nzFor="birthDate">Fecha de nacimiento</nz-form-label>
            <nz-form-control>
              <nz-date-picker style="width: 100%" formControlName="birthDate"></nz-date-picker>

            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label  nzFor="profession">Profesion</nz-form-label>
            <nz-form-control >
              <input type="text" style="width: 100%" nz-input formControlName="profession"
                     placeholder="Profesion"/>
            </nz-form-control>
          </nz-form-item>
        </div>


      </div>
      <div nz-row class="row" [nzGutter]="16">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="state">Estado</nz-form-label>
            <nz-form-control >
              <input type="text" style="width: 100%" nz-input formControlName="state"
                     placeholder="Estado"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="city">Municipio</nz-form-label>
            <nz-form-control>
              <input type="text" style="width: 100%" nz-input formControlName="city"
                     placeholder="Municipio"/>

            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row class="row" [nzGutter]="16">
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label nzFor="address">Direccion fiscal</nz-form-label>
            <nz-form-control >
              <textarea rows="4" nz-input formControlName="address" placeholder="Direccion fiscal"></textarea>

            </nz-form-control>
          </nz-form-item>
        </div>


      </div>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="index === 2">
  <form class="form mt-3"  nz-form nzLayout="vertical" [formGroup]="socialForm" >
    <div class="content">

      <div nz-row class="row" [nzGutter]="16">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="instagram">Instagram</nz-form-label>
            <nz-form-control >
              <input type="text" style="width: 100%" nz-input formControlName="instagram" placeholder="Instagram"/>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="facebook">Facebook</nz-form-label>
            <nz-form-control >
              <input type="text" style="width: 100%" nz-input formControlName="facebook" placeholder="Facebook"/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row class="row" [nzGutter]="16">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="twitter">Twitter</nz-form-label>
            <nz-form-control >
              <input type="text" style="width: 100%" nz-input formControlName="twitter" placeholder="Twitter"/>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="youtube">Youtube</nz-form-label>
            <nz-form-control >
              <input type="text" style="width: 100%" nz-input formControlName="youtube" placeholder="Youtube"/>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="tiktok">tiktok</nz-form-label>
            <nz-form-control >
              <input type="text" style="width: 100%" nz-input formControlName="tiktok" placeholder="Tiktok"/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

    </div>
  </form>
</ng-container>


<div style="display: flex; justify-content: center; margin-top: 2rem">
  <div style="width: 900px; display: flex; justify-content: space-between">
    <div>
      <button
        nz-button
        nzType="default"
        *ngIf="index > 0"
        (click)="goPrev()"
      >
        Anterior
      </button>
    </div>
    <button
      nz-button
      *ngIf="index !== 2"
      nzType="primary"
      [disabled]="handleGoNextButtonDisabled()"
      (click)="goNext()"
    >
      Siguiente
    </button>
    <button
      nz-button
      *ngIf="index === 2"
      nzType="primary"
      (click)="submitForm()"
      [disabled]="generalForm.invalid || personalForm.invalid || socialForm.invalid"
      [nzLoading]="loading">Guardar cambios
    </button>
  </div>
</div>
