<nz-breadcrumb>
  <nz-breadcrumb-item>Inicio</nz-breadcrumb-item>
  <nz-breadcrumb-item>Flujo de caja</nz-breadcrumb-item>
</nz-breadcrumb>

<app-section-title
  [title]="'Flujo de caja'"
  [buttonText]="'Nuevo registro'"
  [additionalButton]="true"
  (onRefresh)="getData()"
  (onAdditionalAction)="showModal = true"
  (onNewElement)="handleNewRegister()"
  additionalButtonText="Nuevo traslado de dinero"
></app-section-title>

<div style="display: flex; justify-content: space-between">
  <div style="display: flex; align-items: flex-end; gap: 1rem;">
    <div>
      <p style="font-size: 12px; margin-bottom: 0.2rem; font-weight: bold">Fecha</p>
      <nz-range-picker [(ngModel)]="date" (ngModelChange)="onChangeDate($event, true)"></nz-range-picker>
    </div>
    <button nz-button nzType="primary" (click)="showFiltersDrawer = true">
      <span nz-icon nzType="filter" nzTheme="outline"></span>
      Ver mas filtros</button>
    <button nz-button nzType="default"  routerLink="resumen-de-operaciones">Ver resumen de operaciones
    </button>
    <button nz-button nzType="default"  routerLink="cierre-de-caja">Ver cierre de caja
    </button>
  </div>

</div>







<nz-divider></nz-divider>

<div class="stats">
  <!--  <div class="main-stat">-->
  <!--    <div class="icon">-->
  <!--      <img src="/assets/icons/utility-2.svg" width="25px" height="25px" alt="">-->
  <!--    </div>-->
  <!--    <h1>Utilidad estimada</h1>-->
  <!--    <nz-skeleton *ngIf="loadingStats" [nzActive]="true"></nz-skeleton>-->
  <!--    <div class="stat-content" *ngIf="!loadingStats">-->
  <!--      <h2> {{statsData.utilidad.usd ?? 0 | currency}}</h2>-->
  <!--      <h4> {{statsData.utilidad.bs ?? 0 | currency: 'Bs. '}}</h4>-->
  <!--      <h4> {{statsData.utilidad.eur ?? 0 | currency: '€ '}}</h4>-->
  <!--    </div>-->
  <!--  </div>-->
  <div class="other-stats">
    <div class="stats-row">
      <div class="stat">
        <button *ngIf="!loadingTotalAvailable" routerLink="/flujo-de-caja/total-disponible" nz-tooltip="Ver detalle" nz-button nzType="default" nzShape="circle">
          <span nz-icon nzType="eye"  nzTheme="outline"></span>
        </button>
        <div class="icon">
          <img src="/assets/icons/to-collect.svg" width="25px" height="25px" alt="">
        </div>
        <nz-skeleton *ngIf="loadingTotalAvailable" [nzActive]="true"></nz-skeleton>
        <div class="stat-content" *ngIf="!loadingTotalAvailable">
          <h3>Total disponible</h3>
          <h2> {{totalAvailable.usd ?? 0 | currency}}</h2>
          <h4> {{totalAvailable.bs ?? 0  | currency: 'Bs. '}}</h4>
          <h4> {{totalAvailable.eur ?? 0  | currency: '€ '}}</h4>
        </div>
      </div>
      <div class="stat">
        <div class="icon">
          <img src="/assets/icons/utility-2.svg" width="25px" height="25px" alt="">
        </div>
        <nz-skeleton *ngIf="loadingStats" [nzActive]="true"></nz-skeleton>
        <div class="stat-content" *ngIf="!loadingStats">
          <h3>Utilidad estimada</h3>
          <h2> {{statsData.utilidad.usd ?? 0 | currency}}</h2>
          <h4> {{statsData.utilidad.bs ?? 0 | currency: 'Bs. '}}</h4>
          <h4> {{statsData.utilidad.eur ?? 0 | currency: '€ '}}</h4>
        </div>
      </div>
      <div class="stat">
        <div class="icon">
          <img src="/assets/icons/income.svg" width="25px" height="25px" alt="">
        </div>
        <nz-skeleton *ngIf="loadingStats" [nzActive]="true"></nz-skeleton>
        <div class="stat-content" *ngIf="!loadingStats">
          <h3>Total de ingresos</h3>
          <h2> {{statsData.ingreso.usd ?? 0 | currency}}</h2>
          <h4> {{statsData.ingreso.bs ?? 0  | currency: 'Bs. '}}</h4>
          <h4> {{statsData.ingreso.eur ?? 0  | currency: '€ '}}</h4>
        </div>
      </div>
      <div class="stat">
        <div class="icon">
          <img src="/assets/icons/expense.svg" width="25px" height="25px" alt="">
        </div>
        <nz-skeleton *ngIf="loadingStats" [nzActive]="true"></nz-skeleton>
        <div class="stat-content" *ngIf="!loadingStats">
          <h3>Total de egresos</h3>
          <h2> {{statsData.egreso.usd ?? 0  | currency}}</h2>
          <h4> {{statsData.egreso.bs ?? 0 | currency: 'Bs. '}}</h4>
          <h4> {{statsData.egreso.eur ?? 0 | currency: '€ '}}</h4>
        </div>
      </div>


    </div>
    <div class="stats-row">
      <div class="stat">
        <div class="icon">
          <img src="/assets/icons/to-pay.svg" width="25px" height="25px" alt="">
        </div>
        <nz-skeleton *ngIf="loadingStats" [nzActive]="true"></nz-skeleton>
        <div class="stat-content" *ngIf="!loadingStats">
          <h3>Total por pagar</h3>
          <h2> {{statsData.cuentasPorPagar.usd ?? 0 | currency}}</h2>
          <h4> {{statsData.cuentasPorPagar.bs ?? 0 | currency: 'Bs. '}}</h4>
          <h4> {{statsData.cuentasPorPagar.eur ?? 0 | currency: '€ '}}</h4>
        </div>
      </div>
      <div class="stat">
        <div class="icon">
          <img src="/assets/icons/to-collect.svg" width="25px" height="25px" alt="">
        </div>
        <nz-skeleton *ngIf="loadingStats" [nzActive]="true"></nz-skeleton>
        <div class="stat-content" *ngIf="!loadingStats">
          <h3>Total por cobrar</h3>
          <h2> {{statsData.cuentasPorCobrar.usd ?? 0 | currency}}</h2>
          <h4> {{statsData.cuentasPorCobrar.bs ?? 0  | currency: 'Bs. '}}</h4>
          <h4> {{statsData.cuentasPorCobrar.eur ?? 0  | currency: '€ '}}</h4>
        </div>
      </div>
      <div class="stat">
        <div class="icon">
          <img src="/assets/icons/to-collect.svg" width="25px" height="25px" alt="">
        </div>
        <nz-skeleton *ngIf="loadingStats" [nzActive]="true"></nz-skeleton>
        <div class="stat-content" *ngIf="!loadingStats">
          <h3>Total ingreso cuenta de terceros</h3>
          <h2> {{statsData.ingresoCuentaTerceros.usd ?? 0 | currency}}</h2>
          <h4> {{statsData.ingresoCuentaTerceros.bs ?? 0  | currency: 'Bs. '}}</h4>
          <h4> {{statsData.ingresoCuentaTerceros.eur ?? 0  | currency: '€ '}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<nz-divider></nz-divider>

<app-generic-table #dataTable
                   [loading]="loading"
                   (onEdit)="handleEdit($event)"
                   [canDelete]="onlyIfIsAdmin()"
                   (onDelete)="handleDelete($event)"
                   [hasEye]="true"
                   eyeTitle="Ver detalle"
                   (onEye)="handleCheckDetail($event)"
                   [pageIndex]="pageIndex"
                   [exposeFullObjOnEye]="true"
                   [pageSize]="pageSize"
                   [totalItems]="totalItems"
                   (onPageIndexChange)="handlePageIndexChange($event)"
></app-generic-table>


<nz-drawer
  [nzClosable]="false"
  [nzVisible]="showFiltersDrawer"
  nzPlacement="right"
  nzTitle="Filtros"
  (nzOnClose)="closeFilterModal()"
>
  <ng-container *nzDrawerContent>
    <div class="button-group">
      <div>
        <p>Fecha</p>
        <nz-range-picker class="filter-select" [(ngModel)]="date" (ngModelChange)="onChangeDate($event, false)"></nz-range-picker>
      </div>
      <div>
        <p>Tipo de transaccion</p>
        <nz-select nzShowSearch [(ngModel)]="sourceSelection" class="filter-select">
          <nz-option nzLabel="Todos" nzValue=""></nz-option>
          <nz-option nzLabel="Ingreso" nzValue="Ingreso"></nz-option>
          <nz-option nzLabel="Egreso" nzValue="Egreso"></nz-option>
          <nz-option nzLabel="Cuentas por pagar" nzValue="Cuenta por pagar"></nz-option>
          <nz-option nzLabel="Cuentas por cobrar" nzValue="Cuenta por cobrar"></nz-option>
          <nz-option nzLabel="Ingreso a cuenta de terceros" nzValue="Ingreso a cuenta de terceros"></nz-option>
        </nz-select>
      </div>
      <div>
        <p>Moneda</p>
        <nz-select nzShowSearch [(ngModel)]="currency"  class="filter-select">
          <nz-option nzLabel="Todas" nzValue=""></nz-option>
          <nz-option nzLabel="$ Dolar" nzValue="$"></nz-option>
          <nz-option nzLabel="Bs. Bolivar " nzValue="Bs"></nz-option>
          <nz-option nzLabel="€ Euro" nzValue="€"></nz-option>
        </nz-select>
      </div>
      <div>
        <p>Forma de pago</p>
        <nz-select nzShowSearch [(ngModel)]="wayToPay" class="filter-select">
          <nz-option nzLabel="Todas" nzValue=""></nz-option>
          <nz-option nzLabel="Efectivo" nzValue="Efectivo"></nz-option>
          <nz-option nzLabel="Transferencia" nzValue="Transferencia"></nz-option>
          <nz-option nzLabel="Pago Movil" nzValue="Pago Movil"></nz-option>
          <nz-option nzLabel="Zelle" nzValue="Zelle"></nz-option>
        </nz-select>
      </div>
      <div>
        <p>Entidad</p>
        <nz-select nzShowSearch [(ngModel)]="entity"  class="filter-select">
          <nz-option nzLabel="Todas" nzValue=""></nz-option>
          <nz-option nzValue="Banco Nacional de Crédito (BNC)" nzLabel="Banco Nacional de Crédito (BNC)"></nz-option>
          <nz-option nzValue="Banesco Panamá" nzLabel="Banesco Panamá"></nz-option>
          <nz-option nzValue="Banesco Venezuela" nzLabel="Banesco Venezuela"></nz-option>
          <nz-option nzValue="Banco Nacional de Terceros" nzLabel="Banco Nacional de Terceros"></nz-option>
          <nz-option nzValue="Oficina Paseo La Granja" nzLabel="Oficina Paseo La Granja"></nz-option>
          <nz-option nzValue="Tesorería" nzLabel="Tesorería"></nz-option>
          <nz-option nzValue="Oficina San Carlos" nzLabel="Oficina San Carlos"></nz-option>
          <nz-option nzValue="Banco internacional de terceros" nzLabel="Banco internacional de terceros"></nz-option>
        </nz-select>
      </div>
      <nz-divider></nz-divider>
      <div>
        <p>Servicio</p>
        <nz-select nzShowSearch [(ngModel)]="service"  class="filter-select" [nzLoading]="servicesLoading">
          <nz-option nzLabel="Todos" nzValue=""></nz-option>
          <nz-option *ngFor="let service of services" [nzLabel]="service.title" [nzValue]="service.id"></nz-option>
        </nz-select>
      </div>
      <div>
        <p>Tipo de servicio</p>
        <nz-select nzShowSearch [(ngModel)]="serviceType"  class="filter-select"[nzLoading]="servicesLoading">
          <nz-option nzLabel="Todos" nzValue=""></nz-option>
          <nz-option *ngFor="let subService of serviceTypes" [nzLabel]="subService.title" [nzValue]="subService.id"></nz-option>
        </nz-select>
      </div>
      <div>
        <p>Propiedad</p>
        <nz-select nzShowSearch [(ngModel)]="property"  class="filter-select"[nzLoading]="propertiesLoading">
          <nz-option nzLabel="Todas" nzValue=""></nz-option>
          <nz-option *ngFor="let property of properties" [nzLabel]="getPropertyLabel(property)" [nzValue]="property.id"></nz-option>
        </nz-select>
      </div>
      <nz-divider></nz-divider>
      <div>
        <p>Persona</p>
        <nz-select nzShowSearch [(ngModel)]="person"  class="filter-select"[nzLoading]="cashFlowPeopleLoading" (ngModelChange)="handleSelectPerson($event)">
          <nz-option nzLabel="Todos" nzValue=""></nz-option>
          <nz-option *ngFor="let person of cashFlowPeople" [nzLabel]="getValueFromPeople(person, true)" [nzValue]="getValueFromPeople(person)"></nz-option>
        </nz-select>
      </div>

      <button nz-button nzBlock nzType="primary" (click)="getData()"> Buscar</button>
    </div>
  </ng-container>
</nz-drawer>



<nz-modal
  [nzStyle]="{width: '500px'}"
  [(nzVisible)]="showModal"
  nzTitle="Datos de traslado"
  (nzOnCancel)="handleCancelModal()"
  (nzOnOk)="handleOkModal()"
  nzOkText="Registrar"
  [nzOkLoading]="transferLoading"
  nzCancelText="Cancelar"
  [nzOkDisabled]="transactionForm.invalid"
>
  <ng-container *nzModalContent>
    <form nz-form nzLayout="vertical" [formGroup]="transactionForm">
      <div nz-row style="display: flex; align-items: center" [nzGutter]="16">
        <div nz-col [nzSpan]="11">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="entityFrom">Desde</nz-form-label>
            <nz-form-control [nzErrorTip]="entityFromErrTemp">
              <nz-select formControlName="entityFrom" style="width: 200px">
                <nz-option nzValue="Banco Nacional de Crédito (BNC)"
                           nzLabel="Banco Nacional de Crédito (BNC)"></nz-option>
                <nz-option nzValue="Banesco Panamá" nzLabel="Banesco Panamá"></nz-option>
                <nz-option nzValue="Banesco Venezuela" nzLabel="Banesco Venezuela"></nz-option>
                <nz-option nzValue="Banco Nacional de Terceros" nzLabel="Banco Nacional de Terceros"></nz-option>
                <nz-option nzValue="Oficina Paseo La Granja" nzLabel="Oficina Paseo La Granja"></nz-option>
                <nz-option nzValue="Tesorería" nzLabel="Tesorería"></nz-option>
                <nz-option nzValue="Oficina San Carlos" nzLabel="Oficina San Carlos"></nz-option>
                <nz-option nzValue="Banco internacional de terceros" nzLabel="Banco internacional de terceros"></nz-option>
              </nz-select>
              <ng-template #entityFromErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar una entidad de origen!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="2" style="display: flex; justify-content: center">
          <span nz-icon nzType="arrow-right" nzTheme="outline"></span>
        </div>
        <div nz-col [nzSpan]="11">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="entityTo">Hasta</nz-form-label>
            <nz-form-control [nzErrorTip]="entityToErrTemp">
              <nz-select formControlName="entityTo" style="width: 200px">
                <nz-option nzValue="Banco Nacional de Crédito (BNC)"
                           nzLabel="Banco Nacional de Crédito (BNC)"></nz-option>
                <nz-option nzValue="Banesco Panamá" nzLabel="Banesco Panamá"></nz-option>
                <nz-option nzValue="Banesco Venezuela" nzLabel="Banesco Venezuela"></nz-option>
                <nz-option nzValue="Banco Nacional de Terceros" nzLabel="Banco Nacional de Terceros"></nz-option>
                <nz-option nzValue="Oficina Paseo La Granja" nzLabel="Oficina Paseo La Granja"></nz-option>
                <nz-option nzValue="Tesorería" nzLabel="Tesorería"></nz-option>
                <nz-option nzValue="Oficina San Carlos" nzLabel="Oficina San Carlos"></nz-option>
                <nz-option nzValue="Banco internacional de terceros" nzLabel="Banco internacional de terceros"></nz-option>
              </nz-select>
              <ng-template #entityToErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar una entidad de destino!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row class="row" [nzGutter]="16">
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="currency">Moneda</nz-form-label>
            <nz-form-control [nzErrorTip]="currencyErrTemp">
              <nz-select formControlName="currency">
                <nz-option nzValue="$" nzLabel="$ Dolar"></nz-option>
                <nz-option nzValue="Bs" nzLabel="Bs Bolivar"></nz-option>
                <nz-option nzValue="€" nzLabel="€ Euro"></nz-option>
              </nz-select>
              <ng-template #currencyErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar una moneda!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="wayToPay">Tipo de pago</nz-form-label>
            <nz-form-control [nzErrorTip]="wayToPayErrTemp">
              <nz-select formControlName="wayToPay">
                <nz-option nzValue="Zelle" nzLabel="Zelle"></nz-option>
                <nz-option nzValue="Pago Movil" nzLabel="Pago Movil"></nz-option>
                <nz-option nzValue="Transferencia" nzLabel="Transferencia"></nz-option>
                <nz-option nzValue="Efectivo" nzLabel="Efectivo"></nz-option>
              </nz-select>
              <ng-template #wayToPayErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un tipo de pago!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="amount">Monto</nz-form-label>
            <nz-form-control [nzErrorTip]="amountErrTemp">
              <input type="text" appCurrencyInput [currencySymbol]="transactionCurrency" style="width: 100%" nz-input formControlName="amount"/>
              <ng-template #amountErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un monto!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="row" nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="reason">Descripcion</nz-form-label>
            <nz-form-control [nzErrorTip]="reasonErrTemp">
              <textarea rows="4" type="text" style="width: 100%" nz-input formControlName="reason"
                        placeholder="Descripcion"></textarea>
              <ng-template #reasonErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un motivo!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </ng-container>
</nz-modal>

<nz-modal
  [nzStyle]="{width: '700px'}"
  [(nzVisible)]="showDetailModal"
  [nzTitle]="detailModalTitle"
  (nzOnCancel)="handleCancelDetailModal()"
  (nzOnOk)="handleOkDetailModal()"
  [nzCancelText]="null"
>
  <ng-container *nzModalContent>
    <h2 style="text-align: center; font-size: 36px;">{{ detailModalData.amount | currency: detailModalData.currency + ' '  }}</h2>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <p><b>Por pagar:</b> {{detailModalData.totalDue | currency: detailModalData.currency + ' '}}</p>
      </div>
      <div nz-col [nzSpan]="12">
        <p><b>Por cobrar:</b> {{detailModalData.pendingToCollect | currency: detailModalData.currency + ' '}}</p>
      </div>
    </div>
    <nz-divider></nz-divider>

    <p><b>Servicio:</b>  {{getServiceById(detailModalData.service)}}</p>
    <p><b>Tipo de servicio:</b>  {{getSubServiceById(detailModalData.serviceType)}}</p>

    <nz-divider></nz-divider>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <h2>{{ detailModalData.client ? 'Cliente' : detailModalData.owner ? 'Propietario': 'Personal interno' }}</h2>
        <ng-container *ngIf="detailModalData.client">
          <p><b>Nombre:</b> {{detailModalData.client.name}}</p>
          <p><b>Desde:</b> {{detailModalData.client.contactFrom}}</p>
          <p><b>En:</b> {{detailModalData.client.operationType}} - {{detailModalData.client.typeOfCapture}}</p>
        </ng-container>
        <ng-container *ngIf="detailModalData.owner">
          <p><b>Nombre:</b> {{detailModalData.owner.firstName}} - {{detailModalData.owner.lastName}}</p>
          <p><b>Correo:</b> {{detailModalData.owner.email}}</p>
          <p><b>Telefono:</b> {{detailModalData.owner.phone}}</p>
        </ng-container>
        <ng-container *ngIf="!detailModalData.client && !detailModalData.owner">
          <p><b>Nombre:</b> {{detailModalData.person}}</p>
        </ng-container>
      </div>
      <div nz-col [nzSpan]="12">
        <h2>{{detailModalData.property ? 'Inmueble' : 'Propiedad interna'}}</h2>
        <ng-container *ngIf="detailModalData.property; else internalProperty">
          <p><b>Codigo:</b> {{detailModalData.property.generalInformation.code}}</p>
          <p><b>Detalle:</b> {{detailModalData.property.generalInformation.propertyType}} - {{detailModalData.property.generalInformation.operationType}}</p>
        </ng-container>
        <ng-template #internalProperty>
          <p><b>Detalle:</b> {{detailModalData.internalProperty}}</p>
        </ng-template>
       </div>
    </div>

    <nz-divider></nz-divider>

    <div nz-row [nzGutter]=16>
      <div nz-col [nzSpan]="12">
        <h4>Observaciones</h4>
        <p>{{detailModalData.observation}}</p>
      </div>
      <div nz-col [nzSpan]="12">
        <h4>Concepto</h4>
        <p>{{detailModalData.reason }}</p>
      </div>
    </div>


  </ng-container>

</nz-modal>

<ng-template #detailModalTitle>
  <h5>
    {{ detailModalData.date }}
    <br>
    <b style="text-decoration: underline; margin-right:.5rem">
      {{ detailModalData.transactionType }}
    </b>
    {{ detailModalData.transactionType.includes('Ingreso') ? 'a' : 'de' }}
    <b style="text-decoration: underline; margin:0 .5rem">
      {{ detailModalData.entity }}
    </b>
    {{ detailModalData.wayToPay.includes('Efectivo') ? 'en' : 'por' }}
    <b style="text-decoration: underline; margin:0 .5rem">
      {{ detailModalData.wayToPay }}
    </b>

  </h5>
</ng-template>




