<div class="header-section">
  <div class="info">
    <h1>{{title}}</h1>
    <button
      *ngIf="hasRefresh"
      (click)="onRefresh.emit()"
      nz-tooltip="true"
      nzTooltipTitle="Refrescar"
      nz-button
      nzType="default"
      nzShape="circle"
    >
      <span nz-icon nzType="redo"></span>
    </button>
  </div>
  <div class="actions">
    <button [nzBlock]="uiService.isPhoneScreen()" *ngIf="additionalButton" nz-button nzType="default"  (click)="onAdditionalAction.emit()">
      <span nz-icon [nzType]="additionalButtonIcon"></span>
      {{additionalButtonText}}
    </button>
    <button [nzBlock]="uiService.isPhoneScreen()"  *ngIf="buttonText" nz-button nzType="primary" (click)="onNewElement.emit()">
      <span nz-icon nzType="plus"></span>
      {{buttonText}}
    </button>
    <ng-container *ngIf="customRightSide">
      <ng-content></ng-content>
    </ng-container>

  </div>
</div>
