.header-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem 0;

  h1 {
    margin: 0
  }
  p {
    margin: 0;
    span {
      font-weight: bold;
    }
  }

  .info {
    display: flex;
    align-items: flex-start;
    gap: 1rem;

  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem
  }
}

@media screen and (max-width: 716px) {
 .info {
   margin-bottom: 1rem;
 }
  .header-section {
    display: block;
  }

}
