<div>
  <nz-sider class="menu-sidebar hidden"
            nzCollapsible
            nzWidth="215px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/inicio">
        <img src="/assets/icons/vision-icon.png" alt="logo">
        <h1 *ngIf="!isCollapsed">Vision inmobiliaria</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">

      <li nz-menu-item nzMatchRouter routerLink="/inicio" [ngStyle]="{'left': isCollapsed ? '-45px' : 0}">
        <span nz-icon nzType="appstore" nzTheme="outline"  style="margin-right: .5rem"> </span>
        <span style="width: 135px">Inicio</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/clientes" [ngStyle]="{'left': isCollapsed ? '-45px' : 0}">
        <span nz-icon nzType="user" nzTheme="outline" style="margin-right: .5rem"></span>
        <span style="width: 135px">Clientes</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/propietarios" [ngStyle]="{'left': isCollapsed ? '-45px' : 0}">
        <span nz-icon nzType="solution" nzTheme="outline" style="margin-right: .5rem"></span>
        <span style="width: 135px">Propietarios</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/usuarios" [ngStyle]="{'left': isCollapsed ? '-45px' : 0}">
        <span nz-icon nzType="idcard" nzTheme="outline" style="margin-right: .5rem"></span>
        <span style="width: 135px">Usuarios</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/asesores-externos" [ngStyle]="{'left': isCollapsed ? '-45px' : 0}">
        <span nz-icon nzType="team" nzTheme="outline" style="margin-right: .5rem"></span>
        <span style="width: 135px">Asesores externos</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/aliados" [ngStyle]="{'left': isCollapsed ? '-45px' : 0}">
        <span nz-icon nzType="crown" nzTheme="outline" style="margin-right: .5rem"></span>
        <span style="width: 135px">Aliados</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/propiedades" [ngStyle]="{'left': isCollapsed ? '-45px' : 0}">
        <span nz-icon nzType="shop" nzTheme="outline" style="margin-right: .5rem"></span>
        <span style="width: 135px">Propiedades</span>
      </li>

      <li nz-menu-item nzMatchRouter routerLink="/administracion" [ngStyle]="{'left': isCollapsed ? '-45px' : 0}">
        <span nz-icon nzType="folder" nzTheme="outline" style="margin-right: .5rem"></span>
        <span style="width: 135px">Administracion</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/flujo-de-caja" [ngStyle]="{'left': isCollapsed ? '-45px' : 0}">
        <span nz-icon nzType="credit-card" nzTheme="outline" style="margin-right: .5rem"></span>
        <span style="width: 135px">Flujo de caja</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/calculo-de-comisiones" [ngStyle]="{'left': isCollapsed ? '-45px' : 0}">
        <span nz-icon nzType="table" nzTheme="outline" style="margin-right: .5rem"></span>
        <span style="width: 135px">Calculo de comisiones</span>
      </li>

      <li nz-menu-item nzMatchRouter style="position: absolute; bottom: 10px" (click)="logout()">
        <span nz-icon nzType="export" nzTheme="outline" style="margin-right: .5rem"></span>
        <span>Cerrar sesion</span>
      </li>

      <!--      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">-->
      <!--        <ul>-->
      <!--          <li nz-menu-item nzMatchRouter>-->
      <!--            <a>Basic Form</a>-->
      <!--          </li>-->
      <!--        </ul>-->
      <!--      </li>-->
    </ul>
  </nz-sider>


  <div [ngClass]="{'right-side-full': !isCollapsed, 'right-side-collapsed': isCollapsed, 'small-right-side': isSmallScreen}">
    <div class="navbar">
         <span class="header-trigger hidden" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
                  nz-icon
                  [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      <button class="visible" nz-button nzType="text" nzSize="large" (click)="open()"><span nz-icon nzType="menu"></span></button>
      <div style="display: flex; align-items: center">
        <div style="margin-right: .5rem;">
          <p class="user-name">{{user.username}}</p>
          <p class="user-role">
            <span *ngFor="let role of user.user_type">{{role}}</span>
          </p>
        </div>
        <nz-avatar [nzText]="shortener(user.username)" nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomLeft" nzSize="large" style="color:#f56a00; background-color:#fde3cf;"></nz-avatar>
      </div>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="logout()">Cerrar cesion</li>
        </ul>
      </nz-dropdown-menu>
    </div>
    <main class="main-container">
      <router-outlet></router-outlet>
    </main>
  </div>

  <nz-drawer
    [nzVisible]="visible"
    [nzWidth]="300"
    [nzBodyStyle]="{'background-color': '#001529'}"

    nzPlacement="left"
    nzTitle="Menu"
    (nzOnClose)="close()"
  >
    <ng-container *nzDrawerContent>
      <ul nz-menu nzTheme="dark" nzMode="inline" >

        <li nz-menu-item nzMatchRouter routerLink="/inicio" >
          <span nz-icon nzType="appstore" nzTheme="outline"  style="margin-right: .5rem"> </span>
          <span style="width: 135px">Inicio</span>
        </li>
        <li nz-menu-item nzMatchRouter routerLink="/clientes">
          <span nz-icon nzType="user" nzTheme="outline" style="margin-right: .5rem"></span>
          <span style="width: 135px">Clientes</span>
        </li>
        <li nz-menu-item nzMatchRouter routerLink="/propietarios">
          <span nz-icon nzType="solution" nzTheme="outline" style="margin-right: .5rem"></span>
          <span style="width: 135px">Propietarios</span>
        </li>
        <li nz-menu-item nzMatchRouter routerLink="/usuarios">
          <span nz-icon nzType="idcard" nzTheme="outline" style="margin-right: .5rem"></span>
          <span style="width: 135px">Usuarios</span>
        </li>
        <li nz-menu-item nzMatchRouter routerLink="/asesores-externos">
          <span nz-icon nzType="team" nzTheme="outline" style="margin-right: .5rem"></span>
          <span style="width: 135px">Asesores externos</span>
        </li>
        <li nz-menu-item nzMatchRouter routerLink="/aliados">
          <span nz-icon nzType="crown" nzTheme="outline" style="margin-right: .5rem"></span>
          <span style="width: 135px">Aliados</span>
        </li>
        <li nz-menu-item nzMatchRouter routerLink="/propiedades">
          <span nz-icon nzType="shop" nzTheme="outline" style="margin-right: .5rem"></span>
          <span style="width: 135px">Propiedades</span>
        </li>

        <li nz-menu-item nzMatchRouter routerLink="/administracion">
          <span nz-icon nzType="folder" nzTheme="outline" style="margin-right: .5rem"></span>
          <span style="width: 135px">Administracion</span>
        </li>
        <li nz-menu-item nzMatchRouter routerLink="/flujo-de-caja">
          <span nz-icon nzType="credit-card" nzTheme="outline" style="margin-right: .5rem"></span>
          <span style="width: 135px">Flujo de caja</span>
        </li>
        <li nz-menu-item nzMatchRouter routerLink="/calculo-de-comisiones">
          <span nz-icon nzType="table" nzTheme="outline" style="margin-right: .5rem"></span>
          <span style="width: 135px">Calculo de comisiones</span>
        </li>


        <li nz-menu-item nzMatchRouter style="position: absolute; bottom: 10px" (click)="logout()">
          <span nz-icon nzType="dashboard" nzTheme="outline" style="margin-right: .5rem"></span>
          <span>Cerrar sesion</span>
        </li>

        <!--      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">-->
        <!--        <ul>-->
        <!--          <li nz-menu-item nzMatchRouter>-->
        <!--            <a>Basic Form</a>-->
        <!--          </li>-->
        <!--        </ul>-->
        <!--      </li>-->
      </ul>
    </ng-container>
  </nz-drawer>
</div>
