<nz-breadcrumb>
  <nz-breadcrumb-item>Inicio</nz-breadcrumb-item>
  <nz-breadcrumb-item>Propiedades</nz-breadcrumb-item>
</nz-breadcrumb>

<app-section-title
  [title]="'Propiedades'"
  [showTotal]="true"
  [totalValue]="loading ? '...' : totalItems"
  [buttonText]="'Nueva propiedad'"
  (onRefresh)="getPropertiesPreview()"
  (onNewElement)="handleNewProperty()"
  [additionalButton]="true"
  additionalButtonText="Filtros"
  additionalButtonIcon="filter"
  (onAdditionalAction)="showFiltersDrawer = true"
></app-section-title>
<app-generic-table #dataTable
                   xScroll="4000px"
                   [actionsFixed]="true"
                   [changeAction]="isAdmin()"
                   [linkAction]="true"
                   [historyAction]="isAdmin()"
                   [canDelete]="isAdmin()"
                   changeActionTitle="Cambiar estatus"
                   linkActionTitle="Ver vista previa"
                   historyActionTitle="Ver historial de estatus"
                   [loading]="loading"
                   [pageIndex]="pageIndex"
                   [totalItems]="totalItems"
                   [pageSize]="pageSize"
                   [exposeFullObjOnDelete]="true"
                   (onEdit)="handleEdit($event)"
                   (onDelete)="handleDelete($event)"
                   (onChange)="handleChangeStatus($event)"
                   (onLink)="handlePreview($event)"
                   (onHistory)="handleHistory($event)"
                   (onPageIndexChange)="onPageIndexChange($event)"
></app-generic-table>


<nz-modal
  [nzStyle]="{width: '500px'}"
  [(nzVisible)]="showChangeStatusModal"
  [nzTitle]="modalTitle"
  (nzOnCancel)="handleCancelChangeStatusModal()"
  (nzOnOk)="handleOkChangeStatusModal()"
  nzOkText="Guardar estatus"
  [nzOkLoading]="changeStatusLoading"
  nzCancelText="Cancelar"
  [nzOkDisabled]="selectedStatus === null"
>
  <ng-container *nzModalContent>
    <nz-select [(ngModel)]="selectedStatus" style="width: 100%">
      <nz-option nzLabel="Activo" nzValue="Activo"></nz-option>
      <nz-option nzLabel="Incompleto" nzValue="Incompleto"></nz-option>
      <nz-option nzLabel="Reservado" nzValue="Reservado"></nz-option>
      <nz-option nzLabel="Suspendido" nzValue="Suspendido"></nz-option>
      <nz-option nzLabel="Cerrado por Vision doble punta" nzValue="Cerrado por Vision doble punta"></nz-option>
      <nz-option nzLabel="Cerrado por Vision (punta única)" nzValue="Cerrado por Vision (punta única)"></nz-option>
      <nz-option nzLabel="Cerrado fuera de Vision" nzValue="Cerrado fuera de Vision"></nz-option>
    </nz-select>


    <textarea  placeholder="Agregar comentarios" rows="4" type="text" style="width: 100%; margin: 1rem 0" nz-input [(ngModel)]="comments"></textarea>

  </ng-container>
</nz-modal>


<app-commission-config-modal
  [show]="showSetCommissionModal"
  [status]="selectedStatus || 'no title'"
  (onCancel)="handleCancelSetCommission()"
  (onSubmit)="handleSetCommission()"
>

</app-commission-config-modal>

<ng-template #modalTitle>
  <div class="modal-title-container">
    <p class="modal-title">Estatus de propiedad</p>
    <nz-tag [nzColor]="getColorByStatus()">{{currentStatus}}</nz-tag>
  </div>
</ng-template>


<nz-drawer
  [nzWidth]="350"
  [nzVisible]="showFiltersDrawer"
  nzPlacement="right"
  nzTitle="Filtros"
  (nzOnClose)="closeFilterModal()"
>
  <ng-container *nzDrawerContent>
    <div class="button-group">
      <div>
        <div style="margin-bottom: 1rem">
          <p>Fecha de registro</p>
          <app-filter-date-selector [date]="date" (onChangeDate)="onChangeDate($event)" (onChangeSingleDate)="onChangeSingleDate($event)"></app-filter-date-selector>
        </div>
        <div style="margin-bottom: 1rem">
          <p>Codigo</p>
          <nz-input-group nzPrefix="VINM - " class="filter-select" >
            <input type="text"  nz-input  [(ngModel)]="code" maxlength="3"
                   placeholder="001"/>
          </nz-input-group>
        </div>

        <div style="margin-bottom: 1rem">
          <p>Tipo de inmueble</p>
          <nz-select nzShowSearch [(ngModel)]="propertyType" class="filter-select" nzAllowClear>
            <nz-option *ngFor="let propertyType of propertyTypes" [nzValue]="propertyType" [nzLabel]="propertyType"></nz-option>
          </nz-select>
        </div>

        <div style="margin-bottom: 1rem">
          <p>Tipo de operacion</p>
          <nz-select nzShowSearch [(ngModel)]="operationType" class="filter-select" nzAllowClear>
            <nz-option nzValue="Venta" nzLabel="Venta"></nz-option>
            <nz-option nzValue="Alquiler" nzLabel="Alquiler"></nz-option>
            <nz-option nzValue="Traspaso de negocio" nzLabel="Traspaso de negocio"></nz-option>
          </nz-select>
        </div>

        <div style="margin-bottom: 1rem">
          <p>Estatus</p>
          <nz-select nzShowSearch [(ngModel)]="status" class="filter-select" nzAllowClear>
            <nz-option nzLabel="Activo" nzValue="Activo"></nz-option>
            <nz-option nzLabel="Incompleto" nzValue="Incompleto"></nz-option>
            <nz-option nzLabel="Reservado" nzValue="Reservado"></nz-option>
            <nz-option nzLabel="Suspendido" nzValue="Suspendido"></nz-option>
            <nz-option nzLabel="Cerrado por Vision doble punta" nzValue="Cerrado por Vision doble punta"></nz-option>
            <nz-option nzLabel="Cerrado por Vision (punta única)" nzValue="Cerrado por Vision (punta única)"></nz-option>
            <nz-option nzLabel="Cerrado fuera de Vision" nzValue="Cerrado fuera de Vision"></nz-option>
          </nz-select>
        </div>

      </div>
      <button nz-button nzBlock nzType="primary" (click)="getPropertiesPreview()"> Buscar</button>
    </div>
  </ng-container>
</nz-drawer>


