<nz-breadcrumb>
  <nz-breadcrumb-item>Inicio</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/propiedades">Propiedades</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>{{isEditing ? 'Editar' : 'Crear'}}</nz-breadcrumb-item>
</nz-breadcrumb>


<!--form-->

<h2>Datos {{
  index === 0 ? 'generales' :
    index === 1 ? 'de ubicacion' :
      index === 2 ? 'visuales' :
        index === 3 ? 'de distribucion' :
          index === 4 ? 'de attributos' :
            index === 5 ? 'de negociacion' :
              'de documentos'
  }} de propiedad
</h2>

<nz-steps nzSize="small" [nzCurrent]="index" (nzIndexChange)="isEditing ? index = $event : index = $event">
  <nz-step nzTitle="General" [nzStatus]="getStatusBasedOnIndex(index).first"></nz-step>
  <nz-step nzTitle="Ubicacion" [nzStatus]="getStatusBasedOnIndex(index).second"></nz-step>
  <nz-step nzTitle="Fotografias" [nzStatus]="getStatusBasedOnIndex(index).third"></nz-step>
  <nz-step nzTitle="Distribucion" [nzStatus]="getStatusBasedOnIndex(index).fourth"></nz-step>
  <nz-step nzTitle="Atributos" [nzStatus]="getStatusBasedOnIndex(index).fifth"></nz-step>
  <nz-step nzTitle="Negociacion" [nzStatus]="getStatusBasedOnIndex(index).sixth"></nz-step>
  <nz-step nzTitle="Documentos" [nzStatus]="getStatusBasedOnIndex(index).last"></nz-step>
</nz-steps>

<ng-container *ngIf="index === 0">
  <form class="form mt-3" nz-form nzLayout="vertical" [formGroup]="generalForm">
    <div class="content">
      <div nz-row class="row" [nzGutter]="16">
        <div nz-col [nzSpan]="7">
          <nz-form-item>
            <nz-form-label nzFor="code">codigo</nz-form-label>
            <nz-form-control>
              <input type="text" style="width: 100%" nz-input formControlName="code"
                     placeholder="codigo"/>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="7">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="nomenclature">Nomenclatura</nz-form-label>
            <nz-form-control [nzErrorTip]="nomenclatureErrTemp">
              <input type="text" style="width: 100%" nz-input formControlName="nomenclature"
                     placeholder="Nomenclatura"/>
              <ng-template #nomenclatureErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar una nomenclatura!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="5">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="footageGround">Metraje de terreno</nz-form-label>
            <nz-form-control [nzErrorTip]="footageGroundErrTemp">
              <input type="text" style="width: 100%" nz-input formControlName="footageGround"
                     placeholder="Metraje de terreno"/>
              <ng-template #footageGroundErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor de m2!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="5">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="footageBuilding">Metraje de construccion</nz-form-label>
            <nz-form-control [nzErrorTip]="footageBuildingErrTemp">
              <input type="text" style="width: 100%" nz-input formControlName="footageBuilding"
                     placeholder="Metraje de construccion"/>
              <ng-template #footageBuildingErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor de m2!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row class="row" [nzGutter]="16">
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="operationType">Tipo de operacion</nz-form-label>
            <nz-form-control [nzErrorTip]="operationTypeErrTemp">
              <nz-select formControlName="operationType">
                <nz-option nzValue="Venta" nzLabel="Venta"></nz-option>
                <nz-option nzValue="Alquiler" nzLabel="Alquiler"></nz-option>
                <nz-option nzValue="Traspaso" nzLabel="Traspaso"></nz-option>
              </nz-select>
              <ng-template #operationTypeErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un tipo de operacion!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="propertyType">Tipo de propiedad</nz-form-label>
            <nz-form-control [nzErrorTip]="propertyTypeErrTemp">
              <nz-select formControlName="propertyType" (ngModelChange)="handleSelectPropertyType($event)">
                <nz-option *ngFor="let type of propertyTypes" [nzValue]="type" [nzLabel]="type"></nz-option>
              </nz-select>
              <ng-template #propertyTypeErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un tipo de propiedad!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="propertyCondition">Tipo de mercado</nz-form-label>
            <nz-form-control [nzErrorTip]="propertyConditionErrTemp">
              <nz-select formControlName="propertyCondition">
                <nz-option nzValue="Mercado Primario" nzLabel="Mercado Primario"></nz-option>
                <nz-option nzValue="Mercado Secundario" nzLabel="Mercado Secundario"></nz-option>
              </nz-select>
              <ng-template #propertyConditionErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un tipo de mercado!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

      </div>

      <div nz-row class="row" [nzGutter]="16">
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="publicationTitle">Titulo de publicacion (URL)</nz-form-label>
            <nz-form-control [nzErrorTip]="publicationTitleErrTemp">
              <input r appSlugTransform type="text" style="width: 100%" nz-input formControlName="publicationTitle"
                     placeholder="Titulo de publicacion (URL)"/>
              <ng-template #publicationTitleErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un titulo de publicacion!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="description">Descripcion</nz-form-label>
            <nz-form-control [nzErrorTip]="descriptionErrTemp">
              <textarea rows="4" type="text" style="width: 100%" nz-input formControlName="description"
                        placeholder="Descripcion"></textarea>
              <ng-template #descriptionErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un tipo de mercado!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>


      </div>


      <nz-divider></nz-divider>

      <h3 style="font-weight: bold; margin-bottom: 1rem;">Este inmueble esta publicado en</h3>
      <label nz-checkbox formControlName="facebook">Facebook</label> <br>
      <label nz-checkbox formControlName="conlallave">Conlallave</label> <br>
      <label nz-checkbox formControlName="instagram">Instagram</label> <br>
      <label nz-checkbox formControlName="mercadolibre">Mercadolibre</label> <br>
      <label nz-checkbox formControlName="whatsapp">Whatsapp</label> <br>
      <label nz-checkbox formControlName="tiktok">TikTok</label>

    </div>
  </form>
</ng-container>

<ng-container *ngIf="index === 1">
  <form class="form mt-3" nz-form nzLayout="vertical" [formGroup]="locationForm">
    <div class="content">
      <div nz-row class="row" [nzGutter]="16">
        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="country">Pais</nz-form-label>
            <nz-form-control [nzErrorTip]="countryErrTemp">
              <nz-select formControlName="country">
                <nz-option nzValue="Venezuela" nzLabel="Venezuela"></nz-option>
              </nz-select>
              <ng-template #countryErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un pais!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="state">Estado</nz-form-label>
            <nz-form-control [nzErrorTip]="stateErrTemp">
              <nz-select nzShowSearch formControlName="state" (ngModelChange)="handleSelectState($event)">
                <nz-option *ngFor="let state of states" [nzValue]="state" [nzLabel]="state"></nz-option>
              </nz-select>
              <ng-template #stateErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un estado!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="city">Municipio</nz-form-label>
            <nz-form-control [nzErrorTip]="cityErrTemp">
              <nz-select nzShowSearch formControlName="city" (ngModelChange)="handleSelectState($event)">
                <nz-option *ngFor="let municipality of cities" [nzValue]="municipality"
                           [nzLabel]="municipality"></nz-option>
              </nz-select>
              <ng-template #cityErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un municipio!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="municipality">Urbanizacion</nz-form-label>
            <nz-form-control>
              <input type="text" style="width: 100%" nz-input formControlName="municipality"
                     placeholder="Urbanizacion"/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row class="row" [nzGutter]="16">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="avenue">Avenida</nz-form-label>
            <nz-form-control>
              <input type="text" style="width: 100%" nz-input formControlName="avenue"
                     placeholder="Avenida"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="street">Calle</nz-form-label>
            <nz-form-control>
              <input type="text" style="width: 100%" nz-input formControlName="street"
                     placeholder="Calle"/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row class="row" [nzGutter]="16">
        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="isClosedStreet">Es calle cerrada ?</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="isClosedStreet">
                <nz-option nzValue="Si" nzLabel="Si"></nz-option>
                <nz-option nzValue="No" nzLabel="No"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="location">Ubicacion</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="location">
                <nz-option nzValue="A pie de calle" nzLabel="A pie de calle"></nz-option>
                <nz-option nzValue="Centro comercial" nzLabel="Centro comercial"></nz-option>
                <nz-option nzValue="Conjunto residencial" nzLabel="Conjunto residencial"></nz-option>
                <nz-option nzValue="Torre de oficinas" nzLabel="Torre de oficinas"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="floor">No. Piso</nz-form-label>
            <nz-form-control>
              <input type="text" style="width: 100%" nz-input formControlName="floor"
                     placeholder="No. Piso"/>

            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="amountOfFloors">Pisos / Niveles comprendidos</nz-form-label>
            <nz-form-control>
              <input type="text" style="width: 100%" nz-input formControlName="amountOfFloors"
                     placeholder="Pisos / Niveles comprendidos"/>

            </nz-form-control>
          </nz-form-item>
        </div>
      </div>


      <div nz-row class="row" [nzGutter]="16">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="referencePoint">Punto de referencia</nz-form-label>
            <nz-form-control>
              <textarea rows="4" type="text" style="width: 100%" nz-input formControlName="referencePoint"
                        placeholder="Punto de referencia"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="howToGet">Como llegar?</nz-form-label>
            <nz-form-control>
              <textarea rows="4" type="text" style="width: 100%" nz-input formControlName="howToGet"
                        placeholder="Como llegar?"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>


      </div>

      <div nz-row class="row" [nzGutter]="16">
        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="parkingNumber">Numero de estacionamiento</nz-form-label>
            <nz-form-control>
              <input type="text" style="width: 100%" nz-input formControlName="parkingNumber"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="trunkNumber">Numero de maletero</nz-form-label>
            <nz-form-control>
              <input type="text" style="width: 100%" nz-input formControlName="trunkNumber"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="parkingLevel">Nivel de estacionamiento</nz-form-label>
            <nz-form-control>
              <input type="text" style="width: 100%" nz-input formControlName="parkingLevel"/>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="trunkLevel">Nivel de maletero</nz-form-label>
            <nz-form-control>
              <input type="text" style="width: 100%" nz-input formControlName="trunkLevel"/>
            </nz-form-control>
          </nz-form-item>
        </div>


      </div>

    </div>
  </form>
</ng-container>

<ng-container *ngIf="index === 2">
  <form class="form mt-3" nz-form nzLayout="vertical">
    <div class="content">
      <div style="display: flex; justify-content: space-between; align-items: center">
        <button nz-button nzType="primary" type="button" [nzLoading]="loadingImage" (click)="clickInputFile('image')">
          <span nz-icon nzType="upload"></span>
          Agregar imagen
        </button>
        <button nz-button type="button" (click)="showOrderModal = true">
          <span nz-icon nzType="ordered-list" nzTheme="outline"></span>
          Reordenar imagenes
        </button>
      </div>

      <div *ngIf="images.length < 1 " style="margin-top: 5rem">
        <nz-empty
          [nzNotFoundContent]="contentTpl"
        >
          <ng-template #contentTpl>
        <span>
          No se an agregado imagenes a esta propiedad
        </span>
          </ng-template>
        </nz-empty>
      </div>
      <input style="display: none" (change)="handleUploadFile($event, 'imagenes')" multiple type="file" #imageInputFile
             accept="image/*">

      <app-draggable-grid
        [elements]="images"
        (onDeleteElement)="handleDeleteImage($event, 'image')"
        (onSortElements)="handleSortElements($event, 'image')"
      >
      </app-draggable-grid>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="index === 3">
  <form class="form mr-3" nz-form nzLayout="vertical" [formGroup]="distributionForm">
    <div class="content">

    </div>
  </form>
</ng-container>

<ng-container *ngIf="index === 4">
  <form class="form mt-3" nz-form nzLayout="vertical" [formGroup]="attributesForm">
    <div class="content">
      <div *ngIf="generalForm.value['propertyType'] === '' " style="margin-top: 5rem">
        <nz-empty
          nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
          [nzNotFoundContent]="contentTpl"
          [nzNotFoundFooter]="footerTpl"
        >
          <ng-template #contentTpl>
        <span>
          No has seleccionado un <b>tipo de propiedad</b>
        </span>
          </ng-template>
          <ng-template #footerTpl>
            <button nz-button nzType="primary" (click)="handleGoToSelectPropertyType()">Seleccionar</button>
          </ng-template>
        </nz-empty>
      </div>
      <div *ngIf="attributes.controls.length < 1 && generalForm.value['propertyType'] !== '' ">
        <nz-empty
          [nzNotFoundContent]="contentTpl"
        >
          <ng-template #contentTpl>
        <span>
          No se encontraron atributos para <b>{{generalForm.value['propertyType']}}</b>
        </span>
          </ng-template>
        </nz-empty>
      </div>
      <ng-container formArrayName="attributes">
        <div nz-row class="row" [nzGutter]="16">
          <div nz-col [nzSpan]="12" *ngFor="let attributeForm of attributes.controls, index as i">
            <nz-form-item [formGroup]="getFormGroup(attributeForm)">
              <p *ngIf="attributeForm.value.formType !== 'check'"
                 style="font-size: 12px !important; font-weight: bold">{{attributeForm.value.label}}: </p>
              <nz-form-control>
                <ng-container *ngIf="attributeForm.value.formType === 'check'">
                  <label nz-checkbox formControlName="value">
                    <span style="font-size: 12px !important; font-weight: bold">{{attributeForm.value.label}} </span>
                  </label>
                </ng-container>
                <ng-container *ngIf="attributeForm.value.formType === 'text'">
                  <input
                    type="text"
                    style="width: 100%"
                    nz-input
                    formControlName="value"
                    [placeholder]="attributeForm.value.placeholder"/>
                </ng-container>
                <ng-container
                  *ngIf="attributeForm.value.formType === 'select'">
                  <nz-radio-group formControlName="value">
                    <label *ngFor="let option of attributeForm.value.options.split('#')" nz-radio
                           [nzValue]="option">{{option}}</label>
                  </nz-radio-group>
                  <!--                  <nz-select formControlName="value">-->
                  <!--                    <nz-option-->
                  <!--                      *ngFor="let option of attributeForm.value.options.split('#'), index as i"-->
                  <!--                      [nzValue]="option"-->
                  <!--                      [nzLabel]="option">-->
                  <!--                    </nz-option>-->
                  <!--                  </nz-select>-->
                </ng-container>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </ng-container>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="index === 5">
  <form class="form mt-3" nz-form nzLayout="vertical" [formGroup]="negotiationForm">
    <div class="content">
      <div nz-row class="row" [nzGutter]="16">
        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="price">Precio del inmueble</nz-form-label>
            <nz-form-control [nzErrorTip]="priceErrTemp">
              <input type="text" appCurrencyInput currencySymbol="$" style="width: 100%" nz-input
                     formControlName="price"
                     placeholder="Precio del inmueble"/>
              <ng-template #priceErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar el precio del inmueble!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="partOfPayment">Recibe como medio de pago</nz-form-label>
            <nz-form-control>
              <input type="text" style="width: 100%" nz-input formControlName="partOfPayment"
                     placeholder="Recibe como medio de pago"/>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="minimumNegotiation">Negociacion minima</nz-form-label>
            <nz-form-control>
              <input type="text" appCurrencyInput currencySymbol="$" style="width: 100%" nz-input
                     formControlName="minimumNegotiation"
                     placeholder="Negociacion minima"/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row class="row" [nzGutter]="16">
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label nzFor="reasonToSellOrRent">Motivo de operacion</nz-form-label>
            <nz-form-control>
              <textarea type="text" style="width: 100%" cols="3" nz-input formControlName="reasonToSellOrRent"
                        placeholder="Motivo de operacion"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row class="row" [nzGutter]="16">

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="user">Asesor vision</nz-form-label>
            <nz-form-control [nzErrorTip]="adviserErrorTemp">
              <nz-select formControlName="user">
                <nz-option *ngFor="let user of advisers" [nzValue]="user.id"
                           [nzLabel]="user.firstName + ' ' + user.lastName"></nz-option>
              </nz-select>
              <ng-template #adviserErrorTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un asesor!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <nz-divider></nz-divider>

      <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 1rem">
        <h3>Datos de captacion externa</h3>
        <button nz-button nzType="link" (click)="showRegisterAlliesModal = true">
          <span nz-icon nzType="plus"></span>
          Registrar nuevo aliado
        </button>
      </div>

      <div nz-row [nzGutter]="16" class="row">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="ally">Aliado</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="ally">
                <nz-option *ngFor="let ally of allies" [nzValue]="ally.id"
                           [nzLabel]="ally.firstName + ' ' + ally.lastName"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="externalAdviser">Captacion asesor externo</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="externalAdviser" nzAllowClear>
                <nz-option *ngFor="let adviser of externalAdvisers" [nzValue]="adviser.id"
                           [nzLabel]="adviser.firstName + ' ' + adviser.lastName"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <nz-divider></nz-divider>

      <div style="display: flex; align-items: center; justify-content: space-between">
        <h3>Datos de propietario</h3>
        <button nz-button nzType="link" (click)="showRegisterOwnersModal = true">
          <span nz-icon nzType="plus"></span>
          Registrar nuevo propietario
        </button>
      </div>

      <div nz-row class="row" [nzGutter]="16">

        <div nz-col [nzSpan]="10">
          <nz-form-item style="margin: 1rem 0">
            <nz-form-control>
              <nz-select formControlName="owner" [nzLoading]="ownersLoading">
                <nz-option *ngFor="let owner of owners" [nzValue]="owner.id"
                           [nzLabel]="owner.firstName + ' ' + owner.lastName"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <nz-divider></nz-divider>

      <h3>Datos de apoderado</h3>

      <div nz-row class="row" style="margin: 1rem 0" [nzGutter]="16">
        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="attorneyFirstName">Nombre</nz-form-label>
            <nz-form-control>
              <input type="text" style="width: 100%" nz-input formControlName="attorneyFirstName"
                     placeholder="Nombre"/>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="attorneyLastName">Apellido</nz-form-label>
            <nz-form-control>
              <input type="text" style="width: 100%" nz-input formControlName="attorneyLastName"
                     placeholder="Apellido"/>

            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="attorneyPhone">Telefono</nz-form-label>
            <nz-form-control>
              <input type="text" appOnlyNumbers style="width: 100%" nz-input formControlName="attorneyPhone"
                     placeholder="Telefono"/>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="attorneyEmail">Email</nz-form-label>
            <nz-form-control>
              <input type="text" style="width: 100%" nz-input formControlName="attorneyEmail"
                     placeholder="Email"/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

    </div>
  </form>
</ng-container>

<ng-container *ngIf="index === 6">
  <form class="form mt-3" nz-form nzLayout="vertical" [formGroup]="documentsForm">
    <div class="content">


      <div nz-row class="row" [nzGutter]="16">
        <div nz-col [nzSpan]="8">
          <label nz-checkbox formControlName="propertyDoc">Documento de propiedad</label> <br>
          <label style="margin: 1rem 0" nz-checkbox formControlName="ownerCIorRIF">C.I / RIF propietario</label> <br>
          <label nz-checkbox formControlName="spouseCIorRIF">C.I / RIF Conyuge</label> <br>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzFor="power">Poder</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="power">
                <nz-option nzValue="N/A" nzLabel="N/A"></nz-option>
                <nz-option nzValue="Por tramitar" nzLabel="Por tramitar"></nz-option>
                <nz-option nzValue="Notariado" nzLabel="Notariado"></nz-option>
                <nz-option nzValue="Registrado" nzLabel="Registrado"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <label nz-checkbox formControlName="CIorRIF">C.I / RIF</label> <br>

        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzFor="mortgageRelease">Liberacion de hipoteca</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="mortgageRelease">
                <nz-option nzValue="N/A" nzLabel="N/A"></nz-option>
                <nz-option nzValue="Por tramitar" nzLabel="Por tramitar"></nz-option>
                <nz-option nzValue="Registrado" nzLabel="Registrado"></nz-option>
                <nz-option nzValue="Solo finiquito" nzLabel="Solo finiquito"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label nzFor="successionDeclaration">Declaracion sucesoral</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="successionDeclaration">
                <nz-option nzValue="N/A" nzLabel="N/A"></nz-option>
                <nz-option nzValue="Por tramitar" nzLabel="Por tramitar"></nz-option>
                <nz-option nzValue="Declaracion" nzLabel="Declaracion"></nz-option>
                <nz-option nzValue="Solvencia" nzLabel="Solvencia"></nz-option>
                <nz-option nzValue="RIF" nzLabel="RIF"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="courtRulings">Sentencias tribunales</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="courtRulings">
                <nz-option nzValue="N/A" nzLabel="N/A"></nz-option>
                <nz-option nzValue="Por tramitar" nzLabel="Por tramitar"></nz-option>
                <nz-option nzValue="Registradas" nzLabel="Registradas"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

        </div>

      </div>

      <nz-divider></nz-divider>

      <h3 style="font-weight: bold; margin: 1rem 0; text-align: center">{{operationType}} de propiedad</h3>

      <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzFor="cadastralRecordYear"> Cedula catastral</nz-form-label>
            <nz-form-control>
              <input type="text" appOnlyNumbers maxlength="4" style="width: 100%; max-width: 100px; margin-bottom: 1rem"
                     nz-input
                     formControlName="cadastralRecordYear"
                     placeholder="Ano"/>
              <br>
            <label nz-checkbox formControlName="isCadastralRecordSameOwner">A nombre de propietario</label> <br>
            <label nz-checkbox formControlName="mainProperty" style="margin-top: 1rem" *ngIf="operationType === 'Venta'">Vivienda principal</label> <br>

          </nz-form-control>
        </nz-form-item>
        </div>

        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzFor="cadastralRecordYear">Impuesto inmobiliario</nz-form-label>
            <nz-form-control>
              <input type="text" appOnlyNumbers maxlength="4" style="width: 100%; max-width: 100px; margin-bottom: 1rem"
                     nz-input
                     formControlName="cadastralRecordYear"
                     placeholder="Ano"/>
              <br>
              <label nz-checkbox formControlName="condominiumSolvency">Solvencia de condominio y otros</label> <br>

            </nz-form-control>
          </nz-form-item>
        </div>
      </div>


      <nz-divider></nz-divider>

      <button nz-button nzBlock type="button" [nzLoading]="loadingDocument" (click)="clickInputFile('document')">
        <span nz-icon nzType="upload"></span>
        Agregar documento
      </button>
      <div *ngIf="documents.length < 1 " style="margin-top: 5rem">
        <nz-empty [nzNotFoundContent]="contentTpl">
          <ng-template #contentTpl>
            <span>No se an agregado documentos a esta propiedad</span>
          </ng-template>
        </nz-empty>
      </div>
      <input style="display: none" (change)="handleUploadFile($event, 'documentos')" multiple type="file"
             #documentInputFile
             accept="/*">


      <app-draggable-grid
        [elements]="documents"
        (onDeleteElement)="handleDeleteImage($event, 'document')"
        (onSortElements)="handleSortElements($event, 'document')"
      >
      </app-draggable-grid>
    </div>
  </form>
</ng-container>

<div style="display: flex; justify-content: center; margin-top: 2rem">
  <div style="width: 900px; display: flex; justify-content: space-between">
    <div>
      <button
        nz-button
        nzType="default"
        *ngIf="index > 0"
        (click)="goPrev()"
      >
        Anterior
      </button>
    </div>
    <button
      nz-button
      *ngIf="index !== 6"
      nzType="primary"
      [disabled]="handleGoNextButtonDisabled()"
      (click)="goNext()"
    >
      Siguiente
    </button>
    <button
      nz-button
      *ngIf="index === 6"
      nzType="primary"
      (click)="submitForm()"
      [disabled]="generalForm.invalid || locationForm.invalid || negotiationForm.invalid"
      [nzLoading]="loading">Guardar cambios
    </button>
  </div>
</div>

<app-register-owner-modal (onClose)="showRegisterOwnersModal = false" (onFinished)="getOwners()"
                          (onCancel)="showRegisterOwnersModal = $event"
                          [showModal]="showRegisterOwnersModal"></app-register-owner-modal>


<app-register-ally-modal (onClose)="showRegisterAlliesModal = false" (onFinished)="getAllies()"
                         (onCancel)="showRegisterAlliesModal = $event"
                         [showModal]="showRegisterAlliesModal"></app-register-ally-modal>

<app-reorder-images-modal [showModal]="showOrderModal" (onCancel)="showOrderModal = false" [images]="images"
                          (onClose)="showOrderModal = false"
                          (onFinished)="showOrderModal = false"></app-reorder-images-modal>



