
<nz-modal
  [nzStyle]="{width: '500px'}"
  [(nzVisible)]="showModal"
  nzTitle="Registrar nueva propiedad para flujo de caja"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOkModal()"
  nzOkText="Registrar"
  [nzOkLoading]="loading"
  nzCancelText="Cancelar"
  [nzOkDisabled]="form.invalid"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="form" nzLayout="vertical">
      <div nz-row class="row" [nzGutter]="16">
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="name">Nombre</nz-form-label>
            <nz-form-control [nzErrorTip]="nameErrTemp">
              <input type="text" style="width: 100%" nz-input formControlName="name"
                     placeholder="Nombre de propiedad"/>
              <ng-template #nameErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un nombre de propiedad!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="location">Ubicacion</nz-form-label>
            <nz-form-control [nzErrorTip]="locationErrTemp">
              <input type="text" style="width: 100%" nz-input formControlName="location"
                     placeholder="Ubicacion de propiedad"/>
              <ng-template #locationErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar una ubicacion de propiedad!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </ng-container>
</nz-modal>
