<nz-table
  #fixedTable
  [nzLoading]="loading"
  [nzLoadingIndicator]="loadingIndicator"
  [nzData]="tableData.data"
  [nzScroll]="{ x: xScroll, y: yScroll }"
  [nzFrontPagination]="false"
>
  <thead>
  <tr>
    <th *ngFor="let h of tableData.headers">{{h.displayName}}</th>
    <th *ngIf="hasEdit || hasDelete">Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of fixedTable.data">
    <td *ngFor="let td of tableData.headers">{{ row[td.key] }}</td>
    <td [nzRight]="actionsFixed" *ngIf="hasDelete || hasEdit">
      <div class="actions">
        <a (click)="onEdit.emit(row.id)" *ngIf="hasEdit" nz-tooltip="true" nzTooltipTitle="Editar">
          <span nz-icon nzType="edit" style="font-size: 18px" [nzTheme]="'twotone'"></span>
        </a>
        <a *ngIf="changeAction" (click)="onChange.emit(row)" nz-tooltip="true" [nzTooltipTitle]="changeActionTitle">
          <span nz-icon nzType="swap" style="font-size: 18px" ></span>
        </a>
        <a *ngIf="linkAction" (click)="onLink.emit(row)" nz-tooltip="true" [nzTooltipTitle]="linkActionTitle">
          <span nz-icon nzType="link" style="font-size: 18px" ></span>
        </a>
        <a *ngIf="historyAction" (click)="onHistory.emit(row)" nz-tooltip="true" [nzTooltipTitle]="historyActionTitle">
          <span nz-icon nzType="history" style="font-size: 18px" ></span>
        </a>
        <a *ngIf="hasApprove" (click)="onApprove.emit(row)" nz-tooltip="true" [nzTooltipTitle]="approveTitle">
          <span nz-icon nzType="check-circle" style="font-size: 18px" ></span>
        </a>
        <a (click)="onDelete.emit(exposeFullObjOnDelete ? row : row.id)" nz-tooltip="true" nzTooltipTitle="Eliminar" *ngIf="canDelete">
          <span nz-icon nzType="delete" style="font-size: 18px" [nzTheme]="'twotone'" [nzTwotoneColor]="'#ff4d4f'"></span>
        </a>
        <nz-switch *ngIf="row.isUserTable" nz-tooltip="true" [(ngModel)]="row.status" (ngModelChange)="onChangeUserStatus.emit({value: $event, id: row.id})" nzTooltipTitle="Deshabilitar o habilitar usuario"></nz-switch>
      </div>
    </td>
  </tr>
  </tbody>
</nz-table>
<div
style="display: flex; justify-content: flex-end">
  <nz-pagination
    [nzPageIndex]="pageIndex"
    [nzTotal]="totalItems"
    [nzPageSize]="pageSize"
    (nzPageIndexChange)="onPageIndexChange.emit($event)"
  ></nz-pagination>
</div>


<ng-template #loadingIndicator>
  <div style="
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
  ">
    <nz-spin nzSize="large"></nz-spin>
    <p>cargando data...</p>
  </div>
</ng-template>
