<nz-breadcrumb>
  <nz-breadcrumb-item>Inicio</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/flujo-de-caja">Flujo de caja</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>Cierre de caja</nz-breadcrumb-item>
</nz-breadcrumb>


<app-section-title
  title="Cierre de caja"
  (onRefresh)="getCloseCashFlows()"
  [showTotal]="true"
  [totalValue]="loading ? '...' : totalItems"
></app-section-title>

<app-generic-table #dataTable
                   xScroll="1000px"
                   [hasDelete]="false"
                   [hasEdit]="false"
                   [hasEye]="true"
                   (onEye)="goToDetail($event)"
                   [loading]="loading"
                   [pageIndex]="pageIndex"
                   [totalItems]="totalItems"
                   [pageSize]="pageSize"
                   (onPageIndexChange)="onPageIndexChange($event)"
></app-generic-table>
