<nz-breadcrumb>
  <nz-breadcrumb-item>Inicio</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/clientes">Clientes</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>{{isEditing ? 'Editar' : 'Crear'}}</nz-breadcrumb-item>
</nz-breadcrumb>

<h2>{{index === 0 ? 'Datos de cliente' : 'Detalle de servicio'}}</h2>

<div class="form mt-3">
  <div class="content">
    <nz-steps [nzCurrent]="index" (nzIndexChange)="isEditing ? index = $event : null">
      <nz-step nzTitle="General" [nzStatus]="getStatusBasedOnIndex(index).first"></nz-step>
      <nz-step nzTitle="Servicio" [nzStatus]="getStatusBasedOnIndex(index).second"></nz-step>
    </nz-steps>
  </div>
</div>

<div style="display:flex; margin-top: 1rem" [ngStyle]="{'justify-content': uiService.isPhoneScreen() ? 'center': 'flex-end', 'margin-bottom': uiService.isPhoneScreen() ? '1rem' : '0' }">
  <button nz-button nzType="link" (click)="showConfigServicesModal = true">
    <span nz-icon nzType="select" nzTheme="outline"></span>
    Configuracion de servicios
  </button>
</div>


<ng-container *ngIf="index === 0">
  <form class="form mt-3" nz-form nzLayout="vertical" [formGroup]="generalForm">
    <div class="content">
      <div nz-row class="row" [nzGutter]="16">
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="name">Nombre</nz-form-label>
            <nz-form-control [nzErrorTip]="nameErrTemp">
              <input type="text" style="width: 100%" nz-input formControlName="name"
                     placeholder="Nombre"/>
              <ng-template #nameErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un nombre!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="phone">Telefono</nz-form-label>
            <nz-form-control [nzErrorTip]="phoneErrTemp">
              <input type="text" appOnlyNumbers style="width: 100%" nz-input formControlName="phone"
                     placeholder="Telefono"/>
              <ng-template #phoneErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un telefono!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="contactFrom">De donde nos contacta?</nz-form-label>
            <nz-form-control [nzErrorTip]="contactFromErrTemp">
              <nz-select formControlName="contactFrom" (ngModelChange)="handleContactFromSelection($event)">
                <nz-option nzValue="Mercado libre" nzLabel="Mercado libre"></nz-option>
                <nz-option nzValue="Instagram" nzLabel="Instagram"></nz-option>
                <nz-option nzValue="Facebook" nzLabel="Facebook"></nz-option>
                <nz-option nzValue="Whatsapp" nzLabel="Whatsapp"></nz-option>
                <nz-option nzValue="Llamada" nzLabel="Llamada"></nz-option>
                <nz-option nzValue="Mensajeria de texto" nzLabel="Mensajeria de texto"></nz-option>
                <nz-option nzValue="Pagina web" nzLabel="Pagina web"></nz-option>
                <nz-option nzValue="Cliente recurrente" nzLabel="Cliente recurrente"></nz-option>
                <nz-option nzValue="Referido" nzLabel="Referido"></nz-option>
              </nz-select>
              <ng-template #contactFromErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <ng-container *ngIf="contactFrom === 'Referido' ">
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="referrer">Referido</nz-form-label>
              <nz-form-control [nzErrorTip]="referrerErrTemp">
                <input type="text" style="width: 100%" nz-input formControlName="referrer"
                       placeholder="Referido"/>
                <ng-template #referrerErrTemp let-control>
                  <ng-container *ngIf="control.hasError('required')">Debes ingresar un telefono!</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </ng-container>
      </div>

      <div nz-row class="row" [nzGutter]="16">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="service_id">Tipo de servicio</nz-form-label>
            <nz-form-control [nzErrorTip]="serviceErrTemp">
              <nz-select formControlName="service_id" nzShowSearch (ngModelChange)="handleServiceSelection($event)">
                <nz-option *ngFor="let service of services" [nzValue]="service.id" [nzLabel]="service.title"></nz-option>
              </nz-select>
              <ng-template #serviceErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un servicio!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

      </div>

      <div nz-row class="row" [nzGutter]="16">
        <div nz-col [nzSpan]="24">
          <label class="checkbox" nz-checkbox formControlName="isPotentialInvestor">Es potencial inversionista</label>
        </div>
      </div>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="index === 1">
  <form class="form mt-3" nz-form nzLayout="vertical" [formGroup]="operationForm">
    <div class="content">
      <div nz-row class="row" [nzGutter]="16">
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="subService_id">Tipo de operacion</nz-form-label>
            <nz-form-control [nzErrorTip]="subServiceErrTemp">
              <nz-select formControlName="subService_id" [nzLoading]="subServicesLoading" nzShowSearch (ngModelChange)="handleOperationTypeSelect($event)">
                <nz-option *ngFor="let option of subServices" [nzValue]="option.id" [nzLabel]="option.title "></nz-option>
              </nz-select>
              <ng-template #subServiceErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un servicio!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <nz-divider></nz-divider>

      <div *ngIf="subServiceName !== ''">
        <div nz-row class="row" [nzGutter]="16">
          <div nz-col [nzSpan]="24">
            <h2 style="text-align: center; margin: 1.5rem 0 3rem 0">Servicio: {{serviceName}} - {{subServiceName}}</h2>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label  nzFor="propertyOfInterest">Inmueble</nz-form-label>
              <nz-form-control [nzErrorTip]="propertyOfInterestErrTemp">
                <nz-select nzAllowClear formControlName="propertyOfInterest" nzShowSearch>
                  <nz-option nzValue="Apartamento" nzLabel="Apartamento"></nz-option>
                  <nz-option nzValue="Locales Comerciales" nzLabel="Locales Comerciales"></nz-option>
                  <nz-option nzValue="Galpones" nzLabel="Galpones"></nz-option>
                  <nz-option nzValue="Terrenos" nzLabel="Terrenos"></nz-option>
                  <nz-option nzValue="Oficinas" nzLabel="Oficinas"></nz-option>
                  <nz-option nzValue="Casa / Townhouse" nzLabel="Casa / Townhouse"></nz-option>
                  <nz-option nzValue="Habitacion" nzLabel="Habitacion"></nz-option>
                  <nz-option nzValue="Anexo" nzLabel="Anexo"></nz-option>
                  <nz-option nzValue="Fondos de Comercio" nzLabel="Fondos de Comercio"></nz-option>
                </nz-select>
                <ng-template #propertyOfInterestErrTemp let-control>
                  <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8" *ngIf="checkService(11, 76) || checkService(5)">
            <nz-form-item>
              <nz-form-label  nzFor="company">Empresa</nz-form-label>
              <nz-form-control [nzErrorTip]="companyErrTemp">
                <input type="text" style="width: 100%" nz-input formControlName="company"
                       placeholder="Empresa"/>
                <ng-template #companyErrTemp let-control>
                  <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8" *ngIf="checkService(9) || checkService(8)">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="specificRequirement">Solicitud especifica</nz-form-label>
              <nz-form-control [nzErrorTip]="specificRequirementErrTemp">
                <input type="text" style="width: 100%" nz-input formControlName="specificRequirement"
                       placeholder="Solicitud especifica"/>
                <ng-template #specificRequirementErrTemp let-control>
                  <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8" *ngIf="checkService(11) || checkService(7) || checkService(8) || checkService(5) || checkService(2)">
            <nz-form-item>
              <nz-form-label  nzFor="location">Ubicacion</nz-form-label>
              <nz-form-control [nzErrorTip]="locationErrTemp">
                <input type="text" style="width: 100%" nz-input formControlName="location"
                       placeholder="Ubicacion"/>
                <ng-template #locationErrTemp let-control>
                  <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8" *ngIf="checkService(9) || checkService(8) || checkService(5) || checkService(2)">
            <nz-form-item>
              <nz-form-label  nzFor="appointmentDate">Fecha de cita</nz-form-label>
              <nz-form-control [nzErrorTip]="appointmentDateErrTemp">
                <nz-date-picker style="width: 100%" formControlName="appointmentDate"></nz-date-picker>
                <ng-template #appointmentDateErrTemp let-control>
                  <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8" *ngIf="checkService(7)">
            <nz-form-item>
              <nz-form-label  nzFor="interestDate">Fecha de interes</nz-form-label>
              <nz-form-control [nzErrorTip]="interestDateErrTemp">
                <nz-date-picker style="width: 100%" formControlName="interestDate"></nz-date-picker>
                <ng-template #interestDateErrTemp let-control>
                  <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8" *ngIf="checkService(3, 74)">
            <nz-form-item>
              <nz-form-label  nzFor="usageProperty">Actividad económica a desarrollar</nz-form-label>
              <nz-form-control [nzErrorTip]="usagePropertyErrTemp">
                <input type="text" appCurrencyInput [currencySymbol]="'$'" style="width: 100%" nz-input formControlName="usageProperty"
                       placeholder="Actividad económica a desarrollar"/>
                <ng-template #usagePropertyErrTemp let-control>
                  <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8"
               *ngIf="checkService(3, 35) || checkService(3, 72) ||  checkService(3, 74)">
            <nz-form-item>
              <nz-form-label  nzFor="aspiredPrice">Precio aspirado</nz-form-label>
              <nz-form-control [nzErrorTip]="aspiredPriceErrTemp">
                <input type="text" appCurrencyInput [currencySymbol]="'$'" style="width: 100%" nz-input formControlName="aspiredPrice"
                       placeholder="Precio aspirado"/>
                <ng-template #aspiredPriceErrTemp let-control>
                  <ng-container *ngIf="control.hasError('required')">Debes ingresar un precio!</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8"
               *ngIf="checkService(3, 72)">
            <nz-form-item>
              <nz-form-label  nzFor="propertyLocation">Zona</nz-form-label>
              <nz-form-control [nzErrorTip]="propertyLocationErrTemp">
                <input type="text" style="width: 100%" nz-input formControlName="propertyLocation"
                       placeholder="Zona"/>
                <ng-template #propertyLocationErrTemp let-control>
                  <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div *ngIf="checkService(3, 73)" nz-row class="row" [nzGutter]="16">
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label  nzFor="amountOfPeople">Cantidad de personas</nz-form-label>
              <nz-form-control [nzErrorTip]="amountOfPeopleErrTemp">
                <input type="text" appOnlyNumbers style="width: 100%" nz-input formControlName="amountOfPeople"
                       placeholder="Cantidad de personas a habitar"/>
                <ng-template #amountOfPeopleErrTemp let-control>
                  <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label  nzFor="arrivingDate">Fecha de llegada</nz-form-label>
              <nz-form-control [nzErrorTip]="arrivingDateErrTemp">
                <nz-date-picker style="width: 100%" formControlName="arrivingDate"></nz-date-picker>
                <ng-template #arrivingDateErrTemp let-control>
                  <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label  nzFor="checkoutDate">Fecha de salida</nz-form-label>
              <nz-form-control [nzErrorTip]="checkoutDateErrTemp">
                <nz-date-picker style="width: 100%" formControlName="checkoutDate"></nz-date-picker>
                <ng-template #checkoutDateErrTemp let-control>
                  <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label  nzFor="amountOfNights">Cantidad de noches</nz-form-label>
              <nz-form-control [nzErrorTip]="amountOfNightsErrTemp">
                <input type="text" appOnlyNumbers style="width: 100%" nz-input formControlName="amountOfNights"
                       placeholder="Cantidad de noches"/>
                <ng-template #amountOfNightsErrTemp let-control>
                  <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label  nzFor="reasonOfStay">Motivo de hospedaje</nz-form-label>
              <nz-form-control [nzErrorTip]="reasonOfStayErrTemp">
                <input type="text" style="width: 100%" nz-input formControlName="reasonOfStay"
                       placeholder="Motivo de hospedaje"/>
                <ng-template #reasonOfStayErrTemp let-control>
                  <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div *ngIf="checkService(3, 35)" nz-row class="row" [nzGutter]="16">
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label  nzFor="amountOfPeople">Cantidad de personas a habitar</nz-form-label>
              <nz-form-control [nzErrorTip]="amountOfPeopleErrTemp">
                <input type="text" appOnlyNumbers style="width: 100%" nz-input formControlName="amountOfPeople"
                       placeholder="Cantidad de personas a habitar"/>
                <ng-template #amountOfPeopleErrTemp let-control>
                  <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label  nzFor="amountOfYounger">Cantidad de menores de edad</nz-form-label>
              <nz-form-control [nzErrorTip]="amountOfYoungerErrTemp">
                <input type="text" appOnlyNumbers style="width: 100%" nz-input formControlName="amountOfYounger"
                       placeholder="Cantidad de menores de edad"/>
                <ng-template #amountOfYoungerErrTemp let-control>
                  <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label  nzFor="amountOfPets">Cantidad de mascotas</nz-form-label>
              <nz-form-control [nzErrorTip]="amountOfPetsErrTemp">
                <input type="text" appOnlyNumbers style="width: 100%" nz-input formControlName="amountOfPets"
                       placeholder="Cantidad de mascotas"/>
                <ng-template #amountOfPetsErrTemp let-control>
                  <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div *ngIf="checkService(3, 35) || checkService(3, 74)"  nz-row class="row" [nzGutter]="16">
          <div nz-col [nzSpan]="6">
            <nz-form-item>
              <nz-form-label  nzFor="typeOfPerson">Tipo de persona</nz-form-label>
              <nz-form-control [nzErrorTip]="typeOfPersonErrTemp">
                <nz-select formControlName="typeOfPerson" (ngModelChange)="handlePersonTypeSelection($event)">
                  <nz-option nzValue="Natural" nzLabel="Natural"></nz-option>
                  <nz-option nzValue="Juridica" nzLabel="Juridica"></nz-option>
                </nz-select>
                <ng-template #typeOfPersonErrTemp let-control>
                  <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <ng-container *ngIf="personType === 'Natural'">
            <div nz-col [nzSpan]="6">
              <nz-form-item>
                <nz-form-label  nzFor="occupation">Ocupacion</nz-form-label>
                <nz-form-control [nzErrorTip]="occupationErrTemp">
                  <input type="text" style="width: 100%" nz-input formControlName="occupation"
                         placeholder="Ocupacion"/>
                  <ng-template #occupationErrTemp let-control>
                    <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
          </ng-container>
          <ng-container *ngIf="personType === 'Juridica'">
            <div nz-col [nzSpan]="6">
              <nz-form-item>
                <nz-form-label  nzFor="personEntry">Rubro</nz-form-label>
                <nz-form-control [nzErrorTip]="personEntryErrTemp">
                  <input type="text" style="width: 100%" nz-input formControlName="personEntry"
                         placeholder="Rubro"/>
                  <ng-template #personEntryErrTemp let-control>
                    <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="6">
              <nz-form-item>
                <nz-form-label  nzFor="personHeadquarters">Sede</nz-form-label>
                <nz-form-control [nzErrorTip]="personHeadquartersErrTemp">
                  <nz-select formControlName="personHeadquarters">
                    <nz-option nzValue="Fisica" nzLabel="Fisica"></nz-option>
                    <nz-option nzValue="Virtual" nzLabel="Virtual"></nz-option>
                    <nz-option nzValue="Ninguna" nzLabel="Ninguna"></nz-option>
                  </nz-select>
                  <ng-template #personHeadquartersErrTemp let-control>
                    <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="6" *ngIf="personHeadquarters?.length > 2 && personHeadquarters !== 'Ninguna' ">
              <nz-form-item>
                <nz-form-label  nzFor="personLocation">Ubicacion</nz-form-label>
                <nz-form-control [nzErrorTip]="personLocationErrTemp">
                  <input type="text" style="width: 100%" nz-input formControlName="personLocation"
                         placeholder="Ubicacion"/>
                  <ng-template #personLocationErrTemp let-control>
                    <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
          </ng-container>
        </div>
        <div *ngIf="checkService(3, 72)"  nz-row class="row" [nzGutter]="16">
          <div nz-col [nzSpan]="6">
            <nz-form-item>
              <nz-form-label  nzFor="typeOfCapture">Tipo de captacion</nz-form-label>
              <nz-form-control [nzErrorTip]="typeOfCaptureErrTemp">
                <nz-select formControlName="typeOfCapture" (ngModelChange)="handlePersonTypeSelection($event)">
                  <nz-option nzValue="Venta" nzLabel="Venta"></nz-option>
                  <nz-option nzValue="Alquiler" nzLabel="Alquiler"></nz-option>
                  <nz-option nzValue="Traspaso" nzLabel="Traspaso"></nz-option>
                </nz-select>
                <ng-template #typeOfCaptureErrTemp let-control>
                  <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <ng-container *ngIf="typeOfCapture === 'Traspaso'">
            <div nz-col [nzSpan]="6">
              <nz-form-item>
                <nz-form-label  nzFor="typeOfBusiness">Tipo de negocio</nz-form-label>
                <nz-form-control [nzErrorTip]="typeOfBusinessErrTemp">
                  <input type="text" style="width: 100%" nz-input formControlName="typeOfBusiness"
                         placeholder="Rubro"/>
                  <ng-template #typeOfBusinessErrTemp let-control>
                    <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
          </ng-container>
        </div>

        <nz-divider *ngIf="checkService(3)" style="margin-bottom: 1rem"></nz-divider>

        <div nz-row class="row" [nzGutter]="16" style="margin-bottom: 1rem">
          <div nz-col [nzSpan]="10" *ngIf="checkService(3, 35) || checkService(3, 73) || checkService(3, 74)">
            <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;">
              <h3 style="margin: 0">Zonas de interes</h3>
            </div>
            <ng-container formArrayName="zonesOfInterest">
              <div *ngFor="let zone of zonesOfInterest.controls; index as i">
                <div style="display: flex;">
                  <nz-form-item style="flex: 1" [formGroupName]="i">
                    <nz-form-control>
                      <input
                        type="text"
                        style="width: 100%"
                        nz-input
                        formControlName="value"
                        placeholder="Zona de interes"/>
                    </nz-form-control>
                  </nz-form-item>
                  <button
                    style="margin-left: 1rem;"
                    (click)="deleteZone(i)"
                    nz-button
                    nzType="default"
                    nzShape="circle">
                    <span
                      [nzTheme]="'twotone'"
                      [nzTwotoneColor]="'#ff4d4f'"
                      nz-icon
                      nzType="delete">
                    </span>
                  </button>

                </div>
              </div>
            </ng-container>
            <button (click)="addZone()" nz-button nzSize="small" nzBlock nzType="primary" >
              <span nz-icon nzType="plus"></span>
              Agregar zona
            </button>
          </div>
          <div nz-col [nzSpan]="2"></div>
          <div nz-col [nzSpan]="10" *ngIf="checkService(3, 35) || checkService(3, 74)">
            <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;">
              <h3 style="margin: 0">Caracteristicas esenciales</h3>
            </div>
            <ng-container formArrayName="essentialFeatures">
              <div *ngFor="let feature of essentialFeatures.controls; index as i">
                <div style="display: flex;">
                  <nz-form-item style="flex: 1" [formGroupName]="i">
                    <nz-form-control>
                      <input
                        type="text"
                        style="width: 100%"
                        nz-input
                        formControlName="value"
                        placeholder="Caracteristica"/>
                    </nz-form-control>
                  </nz-form-item>
                  <button
                    style="margin-left: 1rem;"
                    (click)="deleteFeature(i)"
                    nz-button
                    nzType="default"
                    nzShape="circle">
                    <span
                      [nzTheme]="'twotone'"
                      [nzTwotoneColor]="'#ff4d4f'"
                      nz-icon
                      nzType="delete">
                    </span>
                  </button>

                </div>
              </div>
            </ng-container>
            <button (click)="addFeature()" nz-button nzSize="small" nzBlock nzType="primary" >
              <span nz-icon nzType="plus"></span>
              Agregar caracteristica
            </button>
          </div>
        </div>

        <nz-divider></nz-divider>

        <div nz-row [nzGutter]="16">
          <div nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label nzFor="note">Nota</nz-form-label>
              <nz-form-control>
              <textarea type="text" style="width: 100%" nz-input formControlName="note"
                        placeholder="Nota"> </textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>


      </div>
    </div>
  </form>

</ng-container>

<div style="display: flex; justify-content: center; margin-top: 2rem">
  <div style="width: 900px; display: flex; justify-content: space-between">
    <div>
      <button
        nz-button
        nzType="default"
        *ngIf="index > 0"
        (click)="goPrev()"
      >
        Anterior
      </button>
    </div>
    <button
      nz-button
      *ngIf="index !== 1"
      nzType="primary"
      [disabled]="handleGoNextButtonDisabled()"
      (click)="goNext()"
    >
      Siguiente
    </button>
    <button
      nz-button
      *ngIf="index === 1"
      nzType="primary"
      (click)="submitForm()"
      [disabled]="generalForm.invalid || operationForm.invalid"
      [nzLoading]="loading">Registar cliente
    </button>
  </div>
</div>

<app-config-services-modal [servicesLoading]="servicesLoading" [services]="services"
                           (onClose)="showConfigServicesModal = false" (onFinished)="getServices()"
                           (onCancel)="showConfigServicesModal = $event"
                           [showModal]="showConfigServicesModal"></app-config-services-modal>
