
<nz-breadcrumb>
  <nz-breadcrumb-item>Inicio</nz-breadcrumb-item>
  <nz-breadcrumb-item>Aliados</nz-breadcrumb-item>
</nz-breadcrumb>

<app-section-title
  [title]="'Aliados'"
  [buttonText]="'Nuevo aliado'"
  (onRefresh)="getAllies()"
  (onNewElement)="handleNewAlly()"
></app-section-title>
<app-generic-table #dataTable
                   [loading]="loading"
                   (onEdit)="handleEdit($event)"
                   (onDelete)="handleDelete($event)"
                   [pageIndex]="pageIndex"
                   [totalItems]="totalItems"
                   [canDelete]="true"
                   [pageSize]="pageSize"
                   (onPageIndexChange)="handlePageIndexChange($event)"
></app-generic-table>
