.files-container {
  height: 100%;
  min-height: 85vh;
  //background-color: red;
  position: relative;
}

.toggle-button {
  gap: .5rem;
  display: flex;
  justify-content: flex-end;
}

.fab-elements {
  position: absolute;
  right: 0;
  display: flex;
  gap: 1rem;
  bottom: 0;

  button {
    width: 60px;
    height: 60px;

    span {
      font-size: 25px;
    }
  }
}

.element-list {
  color: black;

  .ant-list-item {
    cursor: pointer;

    &:hover {
      color: #1890ff;
      transition: color 200ms ease-in-out;

      .delete-icon, .edit-icon {
        display: block;
      }
    }
  }

  & .delete-icon {
    font-size: 16px !important;
    color: red !important;
    display: none;
  }

  & .edit-icon {
    font-size: 16px !important;
    color:  #1890ff !important;
    display: none;
  }



  span {
    cursor: pointer;
    font-size: 30px;
  }

  p {
    cursor: pointer;
    text-align: center;
    margin-top: .5rem;
  }
}

.element {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  margin-bottom: 1rem;

  & .delete-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px !important;
    color: red !important;
    display: none;
  }

  & .edit-icon {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 14px !important;
    color:  #1890ff !important;
    display: none;
  }
  & .move-icon {
    position: absolute;
    top: 0;
    right: 40px;
    font-size: 14px !important;
    color:  #1890ff !important;
    display: none;
  }

  &:hover {
    color: #1890ff;
    transition: color 200ms ease-in-out;

    .delete-icon, .edit-icon, .move-icon {
      display: block;
    }
  }

  span {
    cursor: pointer;
    font-size: 30px;
  }

  p {
    cursor: pointer;
    text-align: center;
    margin-top: .5rem;
  }
}
