<div class="files-container">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a (click)="goTo('root')">Vision Inmobiliaria</a>
    </nz-breadcrumb-item>
    <ng-container *ngFor="let pathFragment of path.split('+')">
      <nz-breadcrumb-item *ngIf="pathFragment">
        <a (click)="goTo(pathFragment)">{{pathFragment}}</a>
      </nz-breadcrumb-item>
    </ng-container>
  </nz-breadcrumb>

  <nz-space></nz-space>

  <div nz-row [nzGutter]="16">
    <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="4" nzXl="3" *ngFor="let element of elements">
      <div class="element">
        <span *ngIf="path && checkIfCanDelete() && safeLevelForDelete()" (click)="deleteFolderOrFile(element)" class="delete-icon" nz-icon nzType="delete" nzTheme="fill"></span>
        <span (click)="handleClickElement(element)" *ngIf="element.type === 'dir' " nz-icon nzType="folder" nzTheme="outline"></span>
        <span (click)="handleClickElement(element)" *ngIf="element.type === 'file' && isOtherFileType(element.file)" nz-tooltip="Tipo de archivo poco comun" nz-icon nzType="file-unknown"
              nzTheme="outline"></span>
        <span (click)="handleClickElement(element)" *ngIf="element.type === 'file' && isDocument(element.file)" nz-tooltip="Tipo de archivo de texto" nz-icon nzType="file-word"
              nzTheme="outline"></span>
        <span (click)="handleClickElement(element)" *ngIf="element.type === 'file' && isSpreadSheet(element.file)" nz-tooltip="Tipo de archivo de hoja de calculo" nz-icon nzType="file-excel"
              nzTheme="outline"></span>
        <span (click)="handleClickElement(element)" *ngIf="element.type === 'file' && isImage(element.file)" nz-tooltip="Tipo de archivo de imagen" nz-icon nzType="file-image"
              nzTheme="outline"></span>
        <span (click)="handleClickElement(element)" *ngIf="element.type === 'file' && element.file.includes('pdf')" nz-tooltip="Tipo de archivo PDF" nz-icon nzType="file-pdf"
              nzTheme="outline"></span>
        <p (click)="handleClickElement(element)">{{formatFileName(element)}}</p>
      </div>
    </div>
  </div>

  <div class="fab-elements" *ngIf="path">
    <button
      (click)="showCreateNewFolderModal = true"
      nz-tooltip="Agregar una carpeta"
      nz-button nzType="primary"
      nzSize="large"
      nzShape="circle"
    >
      <span nz-icon nzType="folder-add"></span>
    </button>
    <button
      (click)="clickInputFile()"
      nz-tooltip="Agregar un documento"
      nz-button nzType="primary"
      nzSize="large"
      nzShape="circle">
      <span nz-icon nzType="file-add"></span>
    </button>
  </div>

  <input style="display: none" (change)="handleUploadImage($event)" multiple type="file" #inputFile
         accept="*">


</div>

<nz-modal
  [(nzVisible)]="showCreateNewFolderModal"
  nzTitle="Crear nueva carpeta"
  (nzOnCancel)="handleCancelCreateFolder()"
  [nzOkDisabled]="folderName.length < 1"
  (nzOnOk)="handleOkCreateFolder()">
  <ng-container *nzModalContent>
    <input nz-input placeholder="Nombre de carpeta" [(ngModel)]="folderName" />
  </ng-container>
</nz-modal>
