<nz-breadcrumb>
  <nz-breadcrumb-item>Inicio</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/flujo-de-caja">Flujo de caja</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>Resumen de operaciones</nz-breadcrumb-item>
</nz-breadcrumb>


<app-section-title
  [title]="'Resumen de operaciones'"
  (onRefresh)="getTemporalTransactions()"
></app-section-title>

<div style="display: flex; justify-content: flex-end; margin: 1rem 0; gap: 1rem;">
  <button nz-button nzType="default" (click)="exportToExcel()">Exportar Excel</button>
  <button nz-button nzType="default" (click)="exportPDF()">Exportar PDF</button>
</div>
<app-generic-table #dataTable
                   [hasDelete]="false"
                   [hasEdit]="false"
                   [loading]="loading"
></app-generic-table>
