<nz-modal
  [nzStyle]="{width: '800px'}"
  [(nzVisible)]="show"
  [nzTitle]="titleModal"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="onSubmit.emit()"
  nzOkText="Guardar ajustes"
  [nzOkLoading]="loading"
  nzCancelText="Cancelar"
>
  <!--    [nzOkDisabled]="selectedStatus === null"-->
  <ng-container *nzModalContent>

    <!--    <div style="display: flex; align-items: center; justify-content: flex-end; margin-bottom: 1rem">-->
    <!--      <p style="margin: 0 1rem">Permitir Edicion de monto de comision</p>-->
    <!--      <nz-switch (ngModelChange)="handleChangeToggleAllowed($event)" [(ngModel)]="typeOFAllowedEdition"></nz-switch>-->
    <!--    </div>-->

    <form class="form" nz-form nzLayout="vertical" [formGroup]="form">
      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="finalPrice">Precio final</nz-form-label>
            <nz-form-control [nzErrorTip]="finalPriceTempError">
              <input nz-input type="text" (ngModelChange)="calculateCommissionByType(getCommission?.value)"
                     style="width: 100%"
                     formControlName="finalPrice"
                     placeholder=""/>
              <ng-template #finalPriceTempError let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="commission">Valoración de la comisión</nz-form-label>
            <nz-form-control [nzErrorTip]="commissionTempError">
              <!--                <input  nz-input (ngModelChange)="calculateCommissionByPercentage()" type="text" style="width: 100%"  formControlName="commission"-->
              <!--                        placeholder=""/>-->
              <nz-select formControlName="commission" style="width: 100%"
                         (ngModelChange)="calculateCommissionByType($event)">
                <nz-option *ngIf="property?.operationType === 'Venta' " nzLabel="5%" [nzValue]="5"></nz-option>
                <nz-option *ngIf="property?.operationType === 'Venta' " nzLabel="10%" [nzValue]="10"></nz-option>
                <nz-option *ngIf="property?.operationType === 'Venta' " nzLabel="$500" [nzValue]="500"></nz-option>
                <nz-option *ngIf="property?.operationType === 'Alquiler' " nzLabel="1 mes (inquilino)"
                           nzValue="oneMonth"></nz-option>
                <nz-option *ngIf="property?.operationType === 'Alquiler' " nzLabel="2 meses (inquilino - propietario)"
                           nzValue="twoMonths"></nz-option>
              </nz-select>
              <ng-template #commissionTempError let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <h4>Subtotal de la comisión</h4>
          <h3>{{getSubtotalCommissionAmount?.value || 0 | currency}}</h3>
          <!--          <nz-form-item>-->
          <!--            <nz-form-label nzRequired nzFor="commissionAmount">Monto de comision</nz-form-label>-->
          <!--            <nz-form-control [nzErrorTip]="commissionAmountTempError">-->
          <!--              <input  nz-input type="text" (ngModelChange)="calculateCommissionByAmount()" style="width: 100%"  formControlName="commissionAmount"-->
          <!--                     placeholder=""/>-->
          <!--              <ng-template #commissionAmountTempError let-control>-->
          <!--                <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>-->
          <!--              </ng-template>-->
          <!--            </nz-form-control>-->
          <!--          </nz-form-item>-->
        </div>
      </div>
      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="4">
          <nz-form-item>
            <nz-form-label nzFor="operationExpense">Gasto operativo</nz-form-label>
            <nz-form-control>
              <input nz-input type="text" (ngModelChange)="calculateCommissionByType(getCommission?.value)"
                     style="width: 100%"
                     formControlName="operationExpense"
                     placeholder=""/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="20">
          <nz-form-item>
            <nz-form-label nzFor="operationExpenseDetail">Detalle de gasto operativo</nz-form-label>
            <nz-form-control>
              <input nz-input type="text"
                     style="width: 100%"
                     formControlName="operationExpenseDetail"
                     placeholder=""/>

            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div style="display: flex; justify-content: center; flex-direction: column; align-items: center">
        <h3>Monto resultante de comisión</h3>
        <h1>{{getCommissionAmount?.value || 0 | currency}}</h1>
      </div>
      <nz-divider style="margin-top: 0"></nz-divider>
      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="12">
          <div style="display: flex; align-items: center; margin-bottom: 1rem">
            <h3 style="margin: 0">Punta inmueble</h3>
            <span
              nz-tooltip=""
              nzTooltipTitle="El asesor captador  del inmueble"
              nz-icon nzType="info-circle"
              style="margin-left: 1rem"
              nzTheme="outline">
              </span>
          </div>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="propertyAdviser">Seleccionar asesor</nz-form-label>
            <nz-form-control [nzErrorTip]="propertyAdviserErrTemp">
              <nz-select nzShowSearch nzAllowClear formControlName="propertyAdviser" style="width: 100%" (ngModelChange)="handleSelectAdviser($event, 'property')">
                <nz-option
                  *ngFor="let adviser of advisers"
                  [nzValue]="adviser.id"
                  [nzLabel]="getAdviserLabel(adviser)">
                </nz-option>
              </nz-select>
              <ng-template #propertyAdviserErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un servicio!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <h4>Cuadrantes</h4>
          <label nz-checkbox formControlName="propertyAdviserAttention"
                 (ngModelChange)="handleCalculateDivisionByFeature($event, 'property')">Atencion del cliente
            propietario</label>
          <br>
          <label nz-checkbox formControlName="propertyAdviserExhibition"
                 (ngModelChange)="handleCalculateDivisionByFeature($event, 'property')">Exhibicion del inmueble</label>
          <br>
          <label nz-checkbox formControlName="propertyAdviserBusinessClosing"
                 (ngModelChange)="handleCalculateDivisionByFeature($event, 'property')">Cierre de negocio con cliente
            propietario</label>
          <br>
          <label nz-checkbox formControlName="propertyAdviserAdminProcedure"
                 (ngModelChange)="handleCalculateDivisionByFeature($event, 'property')">Procedimiento
            administrativo</label>
          <br>
          <nz-divider></nz-divider>

          <h4>Monto final de punta</h4>
          <h2>{{propertyAdviserCommissionResult || 0 | currency}}</h2>
        </div>
        <div nz-col [nzSpan]="12" *ngIf="status === 'Cerrado por Vision doble punta' ">
          <div style="display: flex; align-items: center; margin-bottom: 1rem">
            <h3 style="margin: 0">Punta cliente</h3>
            <span
              nz-tooltip=""
              nzTooltipTitle="El asesor que coloca el cliente"
              nz-icon nzType="info-circle"
              style="margin-left: 1rem"
              nzTheme="outline">
              </span>
          </div>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="clientAdviser">Seleccionar asesor</nz-form-label>
            <nz-form-control [nzErrorTip]="clientAdviserErrTemp">
              <nz-select nzShowSearch nzAllowClear formControlName="clientAdviser" style="width: 100%" (ngModelChange)="handleSelectAdviser($event, 'client')">
                <nz-option
                  *ngFor="let adviser of advisers"
                  [nzValue]="adviser.id"
                  [nzLabel]="getAdviserLabel(adviser)">
                </nz-option>
              </nz-select>
              <ng-template #clientAdviserErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un asesor!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <h4>Cuadrantes</h4>
          <label nz-checkbox formControlName="clientAdviserAttention"
                 (ngModelChange)="handleCalculateDivisionByFeature($event, 'client')">Atencion del prospecto
            cliente</label>
          <br>
          <label nz-checkbox formControlName="clientAdviserExhibition"
                 (ngModelChange)="handleCalculateDivisionByFeature($event, 'client')">exchibicion del inmueble al
            prospecto cliente</label>
          <br>
          <label nz-checkbox formControlName="clientAdviserBusinessClosing"
                 (ngModelChange)="handleCalculateDivisionByFeature($event, 'client')">Cierre de negocio con prospecto
            cliente</label>
          <br>
          <label nz-checkbox formControlName="clientAdviserAdminProcedure"
                 (ngModelChange)="handleCalculateDivisionByFeature($event, 'client')">Procedimiento
            administrativo</label>
          <br>
          <nz-divider></nz-divider>
          <h4>Monto final de punta</h4>
          <h2>{{clientAdviserCommissionResult || 0 | currency}}</h2>
        </div>
      </div>

      <nz-divider style="margin-top: 0"></nz-divider>

      <div style="display: flex; justify-content: center; flex-direction: column; align-items: center">
        <h3>Monto derivado a vision</h3>
        <h1>{{getGains()|| 0 | currency}}</h1>
      </div>
    </form>
  </ng-container>
</nz-modal>


<ng-template #percentagePrefix>
  <span nz-icon nzType="percentage" nzTheme="outline"></span>
</ng-template>

<ng-template #titleModal>
  <div style="display: flex; align-items: center ">
    <p style="margin: 0">{{status}}</p>
    <span
      nz-tooltip=""
      [nzTooltipTitle]="getTooltipCommissionAmount()"
      nz-icon nzType="info-circle"
      style="margin-left: 1rem"
      nzTheme="outline"></span>
  </div>
</ng-template>
