<nz-modal
  [nzStyle]="{width: '800px'}"
  [(nzVisible)]="show"
  [nzTitle]="status"
  (nzOnCancel)="onCancel.emit()"
  (nzOnOk)="onSubmit.emit()"
  nzOkText="Guardar ajustes"
  [nzOkLoading]="loading"
  nzCancelText="Cancelar"
>
<!--    [nzOkDisabled]="selectedStatus === null"-->
  <ng-container *nzModalContent>

    <form class="form" nz-form nzLayout="vertical" [formGroup]="form">
      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="finalPrice">Precio final</nz-form-label>
            <nz-form-control [nzErrorTip]="finalPriceTempError">
              <input nz-input type="text" (ngModelChange)="calculateBothCommissions()" style="width: 100%"  formControlName="finalPrice"
                     placeholder=""/>
              <ng-template #finalPriceTempError let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="commissionPercentage">Porcentaje de comision </nz-form-label>
            <nz-form-control [nzErrorTip]="commissionPercentageTempError">
              <nz-input-group [nzPrefix]="percentagePrefix">
                <input nz-input [disabled]="allowedEdition === 'Amount'" (ngModelChange)="calculateCommissionByPercentage()" type="text" style="width: 100%"  formControlName="commissionPercentage"
                        placeholder=""/>
              </nz-input-group>
              <ng-template #commissionPercentageTempError let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="commissionAmount">
              Monto de comision
              <span
                nz-tooltip=""
                [nzTooltipTitle]="getTooltipCommissionAmount()"
                nz-icon nzType="info-circle"
                style="margin-left: 1rem"
                nzTheme="outline">
              </span>
            </nz-form-label>
            <nz-form-control [nzErrorTip]="commissionAmountTempError">
              <input  nz-input [disabled]="allowedEdition === 'Percentage'" type="text" (ngModelChange)="calculateCommissionByAmount()" style="width: 100%"  formControlName="commissionAmount"
                     placeholder=""/>
              <ng-template #commissionAmountTempError let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un valor!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <nz-divider></nz-divider>
      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="12">
          <div style="display: flex; align-items: center; margin-bottom: 1rem">
            <h3 style="margin: 0">Punta inmueble</h3>
            <span
              nz-tooltip=""
              nzTooltipTitle="El asesor captador  del inmueble"
              nz-icon nzType="info-circle"
              style="margin-left: 1rem"
              nzTheme="outline">
              </span>
          </div>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="propertyAdviser">Seleccionar asesor</nz-form-label>
            <nz-form-control [nzErrorTip]="propertyAdviserErrTemp">
              <nz-select nzShowSearch nzAllowClear formControlName="propertyAdviser" style="width: 100%">
                <nz-option
                  *ngFor="let adviser of advisers"
                  [nzValue]="adviser.id"
                  [nzLabel]="getAdviserLabel(adviser)">
                </nz-option>
              </nz-select>
              <ng-template #propertyAdviserErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un servicio!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <h4>Cuadrantes</h4>
            <label nz-checkbox formControlName="propertyAdviserAttention">Atencion del cliente propietario</label>
          <br>
            <label nz-checkbox formControlName="propertyAdviserExhibition">Exhibicion del inmueble</label>
          <br>
            <label nz-checkbox formControlName="propertyAdviserBusinessClosing">Cierre de negocio con cliente propietario</label>
          <br>
            <label nz-checkbox formControlName="propertyAdviserAdminProcedure">Procedimiento administrativo</label>
          <br>
          <nz-divider></nz-divider>

          <h4>Monto final de punta</h4>
          <h2>{{200 | currency}}</h2>
        </div>
        <div nz-col [nzSpan]="12">
          <div style="display: flex; align-items: center; margin-bottom: 1rem">
            <h3 style="margin: 0">Punta cliente</h3>
            <span
              nz-tooltip=""
              nzTooltipTitle="El asesor que coloca el cliente"
              nz-icon nzType="info-circle"
              style="margin-left: 1rem"
              nzTheme="outline">
              </span>
          </div>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="clientAdviser">Seleccionar asesor</nz-form-label>
            <nz-form-control [nzErrorTip]="clientAdviserErrTemp">
              <nz-select nzShowSearch nzAllowClear formControlName="clientAdviser" style="width: 100%">
                <nz-option
                  *ngFor="let adviser of advisers"
                  [nzValue]="adviser.id"
                  [nzLabel]="getAdviserLabel(adviser)">
                </nz-option>
              </nz-select>
              <ng-template #clientAdviserErrTemp let-control>
                <ng-container *ngIf="control.hasError('required')">Debes ingresar un asesor!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <h4>Cuadrantes</h4>
            <label nz-checkbox formControlName="clientAdviserAttention">Atencion del prospecto cliente</label>
          <br>
            <label nz-checkbox formControlName="clientAdviserExhibition">exchibicion del inmueble al prospecto cliente</label>
          <br>
            <label nz-checkbox formControlName="clientAdviserBusinessClosing">Cierre de negocio con prospecto cliente</label>
          <br>
            <label nz-checkbox formControlName="clientAdviserAdminProcedure">Procedimiento administrativo</label>
          <br>
          <nz-divider></nz-divider>
          <h4>Monto final de punta</h4>
          <h2>{{200 | currency}}</h2>
        </div>
      </div>
    </form>
  </ng-container>
</nz-modal>


<ng-template #percentagePrefix>
  <span nz-icon nzType="percentage" nzTheme="outline"></span>
</ng-template>
