
<nz-breadcrumb>
  <nz-breadcrumb-item>Inicio</nz-breadcrumb-item>
  <nz-breadcrumb-item>Propietarios</nz-breadcrumb-item>
</nz-breadcrumb>

<app-section-title
  [title]="'Propietarios'"
  [buttonText]="'Nuevo propietario'"
  (onRefresh)="getOwners()"
  [showTotal]="true"
  [totalValue]="loading ? '...' : totalItems"
  (onNewElement)="handleNewOwner()"
  [additionalButton]="true"
  additionalButtonText="Filtros"
  additionalButtonIcon="filter"
  (onAdditionalAction)="showFiltersDrawer = true"
></app-section-title>
<app-generic-table #dataTable
                   [canDelete]="true"
                   [totalItems]="totalItems"
                   [pageIndex]="pageIndex"
                   [pageSize]="pageSize"
                   (onPageIndexChange)="handlePageIndexChange($event)"
                   [loading]="loading"
                   (onEdit)="handleEdit($event)"
                   (onDelete)="handleDelete($event)"
></app-generic-table>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="showFiltersDrawer"
  nzPlacement="right"
  nzTitle="Filtros"
  (nzOnClose)="closeFilterModal()"
>
  <ng-container *nzDrawerContent>
    <div class="button-group">
      <div>
        <div style="margin-bottom: 1rem">
          <p>Fecha de registro</p>
          <nz-range-picker class="filter-select" [(ngModel)]="date" (ngModelChange)="onChangeDate($event)"></nz-range-picker>
        </div>
        <div style="margin-bottom: 1rem">
          <p>Es inversor?</p>
          <nz-select nzShowSearch [(ngModel)]="isInvestor" class="filter-select" nzAllowClear>
            <nz-option [nzValue]="true" nzLabel="Si, Es inversor."></nz-option>
            <nz-option [nzValue]="false" nzLabel="No, No es inversor."></nz-option>

          </nz-select>
        </div>

      </div>
      <button nz-button nzBlock nzType="primary" (click)="getOwners()"> Buscar</button>
    </div>
  </ng-container>
</nz-drawer>
