<div class="container">
  <div>
    <h1 >Recuperar acceso</h1>

    <ng-container *ngIf="isSent">
        <nz-alert
          nzType="success"
          nzMessage="Se proceso la solicitud con exito!"
          [nzDescription]="message"
          nzShowIcon
        ></nz-alert>
    </ng-container>


    <form [formGroup]="form" (ngSubmit)="submitForm()" *ngIf="!isSent">

     <nz-form-item>
       <nz-form-control [nzErrorTip]="emailErrTemp">
         <input type="text" nzSize="large" style="width: 100%" nz-input formControlName="email"
                placeholder="Correo electronico"/>
         <ng-template #emailErrTemp let-control>
           <ng-container *ngIf="control.hasError('required')">Debes ingresar un email!</ng-container>
           <ng-container *ngIf="control.hasError('pattern')">Ingresa un email valido!</ng-container>
         </ng-template>
       </nz-form-control>
     </nz-form-item>

      <div class="login-button-container">
        <button [disabled]="form.invalid" class="login-button" nz-button nzType="primary" nzSize="large" type="submit" [nzLoading]="loading">
          {{loading ? 'Enviando informacion...' : 'Continuar'}}
        </button>
      </div>


      <ng-template #suffixTemplateInfo>
        <span nz-icon nz-tooltip nzTooltipTitle="Extra information" nzType="info-circle"></span>
      </ng-template>
    </form>
  </div>
</div>


<ng-template #template>
  <div class="ant-notification-notice-content">
    <div class="ant-notification-notice-with-icon">
          <span class="ant-notification-notice-icon">
            <span nz-icon nzType="smile" style="color: rgb(16, 142, 233);"></span>
          </span>
      <div class="ant-notification-notice-message">Notification Title</div>
      <div class="ant-notification-notice-description">
        This is the content of the notification. This is the content of the notification. This is the content of the
        notification.
      </div>
    </div>
  </div>
</ng-template>
