
<nz-modal
  [(nzVisible)]="show"
  nzTitle="Mover documento o carpeta"
  (nzOnCancel)="handleCancel()"
  [nzOkDisabled]="!activatedNode"
  (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <nz-spin nzTip="Cargando..." [nzSpinning]="loadingFiles">
      <p *ngIf="activatedNode">El documento o carpeta se movera a: <br><b>{{ formatPathToMove() }}</b></p>
      <nz-space></nz-space>
      <nz-tree
        nzBlockNode
        [nzData]="folders"
        (nzClick)="activeNode($event)"
        (nzDblClick)="openFolder($event)"
        [nzTreeTemplate]="nzTreeTemplate"
      ></nz-tree>
      <ng-template #nzTreeTemplate let-node let-origin="origin">
      <span class="custom-node">
        <span *ngIf="!node.isLeaf" >
          <span nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'" (click)="openFolder(node)"></span>
          <span class="folder-name">{{ node.title }}</span>
        </span>
<!--        <span *ngIf="node.isLeaf">-->
<!--          <span nz-icon nzType="file"></span>-->
<!--          <span class="file-name">{{ node.title }}</span>-->
<!--          <span class="file-desc">modified by {{ origin.author | lowercase }}</span>-->
<!--        </span>-->
      </span>
      </ng-template>
    </nz-spin>
  </ng-container>
</nz-modal>
