
<nz-breadcrumb>
  <nz-breadcrumb-item>Inicio</nz-breadcrumb-item>
  <nz-breadcrumb-item>Asesores externos</nz-breadcrumb-item>
</nz-breadcrumb>

<app-section-title
  [title]="'Asesores externos'"
  [buttonText]="'Nuevo asesor'"
  (onRefresh)="getAdvisers()"
  [showTotal]="true"
  [totalValue]="loading ? '...' : totalItems"
  (onNewElement)="handleNewAdviser()"
></app-section-title>
<app-generic-table #dataTable
                   [loading]="loading"
                   (onEdit)="handleEdit($event)"
                   (onDelete)="handleDelete($event)"
                   [pageSize]="pageSize"
                   [pageIndex]="pageIndex"
                   [totalItems]="totalItems"
                   [canDelete]="true"
                   (onPageIndexChange)="handleIndexPageChange($event)"
></app-generic-table>
