.container {
  //min-height: 80vh;
  //height: 100%;
  //display: grid;
  //place-items: center;
}

h1 {
  margin: 1rem 0;
  text-align: center;
}

.login-button {
  width: 335px;
  margin-top: 1rem;
  //position: absolute;
  //bottom: 20px;
  //right: 10px;
  //left: 10px
}

.login-button-container {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  //.login-button {
  //  right: 200px;
  //  left: 200px
  //}
}


@media screen and (min-width: 1180px) {
  //.login-button {
  //  position: initial;
  //  width: 100%;
  //}
}

.external-actions {
  display: flex;
  justify-content: space-between;
}
