<div class="container">
  <div>
    <h1 >Reestablecer acceso</h1>

    <form [formGroup]="form" (ngSubmit)="submitForm()">

      <nz-form-item>
        <nz-form-control [nzErrorTip]="passwordErrTemp">
          <nz-input-group nzSize="large" [nzSuffix]="passwordSuffixTemplate">
            <input [type]="passwordVisible ? 'text' : 'password'" style="width: 100%" nz-input formControlName="password"
                   placeholder="Contrasena"/>
          </nz-input-group>
          <ng-template #passwordErrTemp let-control>
            <ng-container *ngIf="control.hasError('required')">Debes ingresar una contrasena!</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzErrorTip]="confirmPasswordErrTemp">
          <nz-input-group nzSize="large" [nzSuffix]="confirmPasswordSuffixTemplate">
            <input [type]="confirmPasswordVisible ? 'text' : 'password'" style="width: 100%" nz-input formControlName="confirmPassword"
                   placeholder="Confirmar contrasena"/>
          </nz-input-group>
          <ng-template #confirmPasswordErrTemp let-control>
            <ng-container *ngIf="control.hasError('required')">Este campo no puede estar vacio!</ng-container>
            <ng-container *ngIf="control.hasError('confirm')">Las contrasenas deben coincidir!</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <div class="login-button-container">
        <button [disabled]="form.invalid" class="login-button" nz-button nzType="primary" nzSize="large" type="submit" [nzLoading]="loading">
          {{loading ? 'Enviando informacion...' : 'Continuar'}}
        </button>
      </div>

      <ng-template #passwordSuffixTemplate>
      <span
        nz-icon
        [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
        (click)="passwordVisible = !passwordVisible"
      ></span>
      </ng-template>

      <ng-template #confirmPasswordSuffixTemplate>
      <span
        nz-icon
        [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
        (click)="confirmPasswordVisible = !confirmPasswordVisible"
      ></span>
      </ng-template>
    </form>
  </div>
</div>


<ng-template #template>
  <div class="ant-notification-notice-content">
    <div class="ant-notification-notice-with-icon">
          <span class="ant-notification-notice-icon">
            <span nz-icon nzType="smile" style="color: rgb(16, 142, 233);"></span>
          </span>
      <div class="ant-notification-notice-message">Notification Title</div>
      <div class="ant-notification-notice-description">
        This is the content of the notification. This is the content of the notification. This is the content of the
        notification.
      </div>
    </div>
  </div>
</ng-template>
